html {
  height: 100%;
  width:100%;
  margin: 0;
}

body {
  font-family: 'Roboto';
  font-size: 18px;
  overflow-x: hidden !important;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto Slab';
}


.lang {
  display: inline-block;
  margin: 10px 10px 10px 10px;
  width: 35px;
  height: 35px;
  text-align: center;
  border-radius: 50%;
}

.lang .text {
  margin-top: 7px;
}

.lang:hover {
  font-weight: bold;
  cursor:pointer;
}

#lang-buttons {
  margin-top: 10px;
  width: 98%;
  display:block;
  text-align: right;
  margin-right: 2%;
  font-size: 14px;
}

.flip-container {
  perspective: 1000px;
  margin-top: 5vh;
}
/* flip the pane when hovered */
.flip-container:hover .flipper, .flip-container.hover .flipper {
  transform: rotateY(180deg);
}
.flip-container, .front, .back {
  width: 23vh;
  height: 23vh;
  border-radius: 50%;
}
/* flip speed goes here */
.flipper {
  transition: 0.6s;
  transform-style: preserve-3d;
  position: relative;
  background-size: contain;
}
/* hide back of pane during swap */
.front, .back {
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  border: 0.75vh solid
}
/* front pane, placed above back */
.front {
  z-index: 2;
  /* for firefox 31 */
  transform: rotateY(0deg);
  background-size: 100% auto !important;
  background-repeat: no-repeat !important;
}
/* back, initially hidden pane */
.back {
  transform: rotateY(180deg);
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.pseudo {
  color: white;
  font-size: 16px;
}

.pseudo:hover {
  color: white !important;
  text-decoration:none;
  font-weight: bold;
}

.profiles {
  width: 25vh;
}

.main-viz {
  display: inline;
}


#timeline {
  margin-top: 5vh;
  position: relative;
}

.header {
  display: inline;
}

.header-text {
  text-align: left;
  display: inline;
}

.stacked {
  position: absolute;
}

.icon {
  z-index: -1;
  width: 130px;
  height: 150px;
  border-radius: 50%;
  margin-left: 24px;
  margin-top: 30px;
  border: 10px solid;
}

.frame {
  z-index: 0;
  width: 180px;
  height: 250px;
  margin-top: -3vh;
}

.frame:hover {
  transform: scale(1.01);
}

.header-text {
  vertical-align: middle;
  font-family: 'Roboto Slab';
}

.header-text .title {
  font-size: 50px;
  font-weight: bold;
  margin-top: 2vh;
}

.header-text .subtitle {
  font-size: 28px;
  font-style: italic;
  font-weight: lighter;
  color: rgb(100,100,100);
}

.main-content {
  margin-top: 15vh;
  margin-bottom: 25vh;
}

.timeline-event {
  border-left: 10px solid;
  margin-left: 20px;
  padding-top: 2vh;
  margin-top: -10px;
}

.timeline-point {
  width: 50px;
  height: 50px;
  border: 10px solid;
  border-radius: 50%;
  display: inline-block;
  -webkit-transition: background-color 0.5s; /* Safari prior 6.1 */
  transition: background-color 0.5s;
}

.timepoint-heading {
  display: inline;
  margin-left: 2%;
  font-size: 24px;
  vertical-align: top;
  font-family: 'Roboto Slab';
}

.timepoint-heading .date {
  font-weight: bold;
}

.timepoint-heading .caption {
  font-style: italic;
  color: rgb(100,100,100);
  font-weight: lighter;
}

.timeline-event .content {
  margin-left: 10%;
  padding-bottom: 6vh;
  padding-top: 6vh;
}

.img-content {
  display: flex;
  align-items: center;
}

.img-wrapper {
    margin-top: 4vh;
    margin-bottom: 4vh;
    text-align: center;
}

.img-wrapper img {
  max-width: 100%;
  max-height: 100%;
  height: inherit !important;
  padding: 5px 5px 5px 5px;
}

.img-caption {
  color: rgb(100, 100, 100);
  font-style: italic;
  font-size: 14px;
  margin-top: 1vh;
}

.transcription {
  padding: 50px 5px 10px 25px;
  position: relative;
  color: rgb(120,120,120);
  font-style: italic;
  font-size: 14px;
  font-weight: lighter;
  height: 100%;
}

.transcription p {
  width: 80%;
  margin-left: 10%;
}

.fa-quote-left {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 100px;
  opacity: 0.2;
}

.aside {
  padding: 10px 10px 10px 10px;
  margin-left: 15%;
  background-size: cover;
  width: 80%;

}

.aside-content {
  background-color: rgba(255,255,255, 0.75);
  margin: 30px;
  padding: 15px;
  font-size: 16px;
}


.modal-access {
  text-align: center;
  width: 50%;
  margin:auto;
  border: 3px solid ;
  margin-top: 3vh;
  margin-bottom: 3vh;
  transition: all .25s ease-in;
  background-image: linear-gradient(rgb(78,121,167) , rgb(78,121,167));
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 0% 100%;
  transition: background-size .3s, color .3s;
  text-transform:uppercase;
}


.modal-link{
  font-size: 20px;
  padding: 25px;
  font-weight: lighter;
  font-family: 'Roboto Slab';
}


.modal-access:hover {
  cursor: pointer;
  background-size: 100% 100%;
  color: #fff !important;
}


.m-body p {
  padding-top: 1vh;
  padding-bottom: 1vh;
}
.modal-exit {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 25px;
  color: rgb(175,175,175);
  font-weight: 100;
}

.modal-content {
  height: 90vh;
  overflow-y: scroll;
  padding: 5vh 15px 10vh 15px;
}

.modal-open {
  overflow-y: scroll;
}


.m-header {
  display: inline;
  margin: auto;
  font-family: 'Roboto Slab';
  padding-left: 5%;
}

.m-header img {
  opacity: 0.5;
  width: 20vh;
  height: auto;
  z-index: 998;
  margin-right: -5%;
}

.m-header span {
  font-size: 60px;
  z-index: 999;
  padding-top: 4vh;
  position: absolute;
}

.m-content {
  padding-top: 8vh;
  padding-bottom: 3vh;
  font-size: 16px;
}


.extract {
  font-style: italic;
  font-size: 14px;
  padding-left: 25px;
  border-left: 3px solid red;
  width: 90%;
  margin: auto;
  margin-bottom: 8vh;
  margin-top: 6vh;
}

.extract .heading {
  font-weight: bold !important;
  font-style: normal !important;
  text-decoration: none !important;
  font-size: 16px !important
}

.extract .date {
  color: rgb(90,90,90) !important;
  font-weight: normal !important;
  font-size: 16px !important
}

.definition .keyword {
  color: red;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
}

.definition {
  padding: 15px 15px 15px 15px;
  background-color: rgba(50,50,50, 0.2)
}

.register-link {
  float:right;
  font-size: 12px;
  margin-top: -1vh;
  font-style: normal;
  font-weight: bold;
  margin-left: -20px;
  color: inherit;
  margin-bottom: 2vh;
}

.fa-arrow-right {
  margin-left: 10px;
}

.register-link:hover {
  color: red;
  cursor:pointer;
  text-decoration: none;
}

.register-link::after {
  text-decoration: none;
  color: inherit;
}


.slick-arrow::before {
  color: rgb(175, 175, 175) !important;
  font-size: 40px !important;
}

.slick-next.slick-arrow::before {
  margin-left: -20px;
}

.slick-slide {
   max-height:75vh;
}

.slick-slide img {
   max-height:75vh;
   padding-left: 25px;
   padding-right: 25px;
   margin-right: -20px;
}
