html {
  height: 100%;
  width:100%;
  margin: 0;
  overflow-x: hidden;
}

body {
  font-family: Roboto;
}

.lang {
  display: inline-block;
  margin: 10px 10px 10px 10px;
  width: 35px;
  height: 35px;
  text-align: center;
  border-radius: 50%;
}

.lang .text {
  margin-top: 7px;
}

.lang:hover {
  font-weight: bold;
  cursor:pointer;
}

#lang-buttons {
  margin-top: 10px;
  width: 98%;
  display:block;
  text-align: right;
  margin-right: 2%;
  font-size: 14px;
}

.flip-container {
  perspective: 1000px;
  margin-top: 5vh;
  margin-bottom: 5vh;

}
/* flip the pane when hovered */
.flip-container:hover .flipper, .flip-container.hover .flipper {
  transform: rotateY(180deg);
}
.flip-container, .front, .back {
  width: 23vh;
  height: 23vh;
  border-radius: 50%;
}
/* flip speed goes here */
.flipper {
  transition: 0.6s;
  transform-style: preserve-3d;
  position: relative;
  background-size: contain;
}
/* hide back of pane during swap */
.front, .back {
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  border: 0.75vh solid
}
/* front pane, placed above back */
.front {
  z-index: 2;
  /* for firefox 31 */
  transform: rotateY(0deg);
  background-size: 100% auto !important;
  background-repeat: no-repeat !important;
}
/* back, initially hidden pane */
.back {
  transform: rotateY(180deg);
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.pseudo {
  color: white;
  font-size: 16px;
}

.pseudo:hover {
  color: white !important;
  text-decoration:none;
  font-weight: bold;
}

.profiles {
  width: 25vh;
}

.main-viz {
  display: inline;
}

#timeline {
  margin-top: 3vh;
  margin-bottom: 3vh;
}

.header {
  display: inline;
}

.header-text {
  text-align: left;
  display: inline;
}

.stacked {
  position: absolute;
}

.icon {
  z-index: -1;
  width: 130px;
  height: 150px;
  border-radius: 50%;
  margin-left: 24px;
  margin-top: 30px;
  border: 10px solid;
}

.frame {
  z-index: 0;
  width: 180px;
  height: 250px;
  margin-top: -3vh;
}

.frame:hover {
  transform: scale(1.01);
}

.header-text {
  vertical-align: middle;
}

.header-text .title {
  font-size: 50px;
  font-weight: bold;
  margin-top: 2vh;
}

.header-text .subtitle {
  font-size: 28px;
  font-style: italic;
  font-weight: lighter;
  color: rgb(100,100,100);
}

.main-content {
  margin-top: 15vh;
  margin-bottom: 25vh;
}

.timeline-event {
  border-left: 10px solid;
  margin-left: 20px;
  padding-top: 2vh;
  margin-top: -10px;
}

.timeline-point {
  width: 50px;
  height: 50px;
  border: 10px solid;
  border-radius: 50%;
  display: inline-block;
  -webkit-transition: background-color 0.5s; /* Safari prior 6.1 */
  transition: background-color 0.5s;
}

.timepoint-heading {
  display: inline;
  margin-left: 2%;
  font-size: 24px;
  vertical-align: top;
}

.timepoint-heading .date {
  font-weight: bold;
}

.timepoint-heading .caption {
  font-style: italic;
  color: rgb(100,100,100);
  font-weight: lighter;
}

.timeline-event .content {
  margin-left: 6%;
  padding-bottom: 25px;
}
