<div class= "actor-details col-md-12" -du-scroll-container>
  <div class="header col-md-10 col-md-offset-1">
    <div class="portrait col-md-3">
      <img style="border-color: {{model.curr.colour}}" class="stacked icon" ng-src ="{{model.curr.img_src}}">
      <a href="{{model.curr.cf_link}}" target="_blank"><img class="stacked frame" src ="https://svgsilh.com/svg/1296759.svg"></img></a>
    </div>
    <div class="header-text col-md-7">
      <div class="title">{{'content.bellecour.title.main' | translate}}</div>
      <div class="subtitle">{{'content.bellecour.title.sub' | translate}}</div>
    </div>
  </div>
  <div class="main-content col-md-10 col-md-offset-1">
    <div class= "content-item timepoint"  id="bellecour-one">
      <div class="timeline-point" section="bellecour-one" style="border-color: {{model.curr.colour}}"></div>
      <div class="timepoint-heading">
        <span class="date">{{'content.bellecour.sections.one.date' | translate}}:</span>
        <span class="caption"> {{'content.bellecour.sections.one.caption' | translate}}</span>
      </div>
      <div class="timeline-event" style="border-color: {{model.curr.colour}}">
        <div class="content">{{'content.bellecour.sections.one.text' | translate}}</div>
      </div>
    </div>
    <div class= "content-item timepoint"  id="bellecour-two">
      <div class="timeline-point" section="bellecour-two" style="border-color: {{model.curr.colour}}"></div>
      <div class="timepoint-heading">
        <span class="date">{{'content.bellecour.sections.two.date' | translate}}:</span>
        <span class="caption"> {{'content.bellecour.sections.two.caption' | translate}}</span>
      </div>
      <div class="timeline-event" style="border-color: {{model.curr.colour}}">
        <div class="content">
          <p>{{'content.bellecour.sections.two.text' | translate}}</p>
          <div class="img-wrapper">
            <img ez-plus ezp-model="{large:'style/img/bellecour/reception.jpg'}" ezp-options="{scrollZoom: true,  zoomWindowFadeIn: 500, zoomWindowFadeOut:500, lensFadeIn:500, lensFadeOut:500, container:'b-1'}" src='style/img/bellecour/reception.jpg' style="height: 45vh">
          </div>
        </div>
        <div class="modal-container" ng-click="openModal('views/modals/debuts.html')">
          <div class="modal-link" style="color:{{model.curr.colour}}">{{'modals.debuts.prompt' | translate}}</div>
          <img src="style/img/divider.png"></img>
        </div>

      </div>
    </div>
    <div class= "content-item timepoint"  id="bellecour-three">
      <div class="timeline-point" section="bellecour-three" style="border-color: {{model.curr.colour}}"></div>
      <div class="timepoint-heading">
        <span class="date">{{'content.bellecour.sections.three.date' | translate}}:</span>
        <span class="caption"> {{'content.bellecour.sections.three.caption' | translate}}</span>
      </div>
      <div class="timeline-event" style="border-color: {{model.curr.colour}}">
        <div class="content">{{'content.bellecour.sections.three.text' | translate}}</div>
      </div>
    </div>
    <div class= "content-item timepoint"  id="bellecour-four">
      <div class="timeline-point" section="bellecour-four" style="border-color: {{model.curr.colour}}"></div>
      <div class="timepoint-heading">
        <span class="date">{{'content.bellecour.sections.four.date' | translate}}:</span>
        <span class="caption"> {{'content.bellecour.sections.four.caption' | translate}}</span>
      </div>
      <div class="timeline-event" style="border-color: {{model.curr.colour}}">
        <div class="content">{{'content.bellecour.sections.four.text' | translate}}</div>
        <div class="aside" style="background-image:linear-gradient( rgba(78,121,167,.6), rgba(78,121,167,.6) ), url('style/img/register_backgrounds/register_1.png');">
          <div class="aside-content" style="border-color:rgb(78,121,167)">
            <h2 style="color: {{model.curr.colour}}">{{'asides.health.title' | translate}}</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
          </div>
        </div>
      </div>
    </div>
    <div class= "content-item timepoint"  id="bellecour-five">
      <div class="timeline-point" section="bellecour-five" style="border-color: {{model.curr.colour}}"></div>
      <div class="timepoint-heading">
        <span class="date">{{'content.bellecour.sections.five.date' | translate}}:</span>
        <span class="caption"> {{'content.bellecour.sections.five.caption' | translate}}</span>
      </div>
      <div class="timeline-event" style="border-color: {{model.curr.colour}}">
        <div class="content">{{'content.bellecour.sections.five.text' | translate}}</div>
      </div>
    </div>
    <div class= "content-item timepoint"  id="bellecour-six">
      <div class="timeline-point" section="bellecour-six" style="border-color: {{model.curr.colour}}"></div>
      <div class="timepoint-heading">
        <span class="date">{{'content.bellecour.sections.six.date' | translate}}:</span>
        <span class="caption"> {{'content.bellecour.sections.six.caption' | translate}}</span>
      </div>
      <div class="timeline-event" style="border-color: {{model.curr.colour}}">
        <div class="content">{{'content.bellecour.sections.six.text' | translate}}</div>
      </div>
    </div>
    <div class= "content-item timepoint"  id="bellecour-seven">
      <div class="timeline-point" section="bellecour-seven" style="border-color: {{model.curr.colour}}"></div>
      <div class="timepoint-heading">
        <span class="date">{{'content.bellecour.sections.seven.date' | translate}}:</span>
        <span class="caption"> {{'content.bellecour.sections.seven.caption' | translate}}</span>
      </div>
      <div class="timeline-event" style="border-color: {{model.curr.colour}}">
        <div class="content">{{'content.bellecour.sections.seven.text' | translate}}</div>
      </div>
    </div>
    <div class= "content-item timepoint"  id="bellecour-eight">
      <div class="timeline-point" section="bellecour-eight" style="border-color: {{model.curr.colour}}"></div>
      <div class="timepoint-heading">
        <span class="date">{{'content.bellecour.sections.eight.date' | translate}}:</span>
        <span class="caption"> {{'content.bellecour.sections.eight.caption' | translate}}</span>
      </div>
      <div class="timeline-event" style="border-color: {{model.curr.colour}}">
        <div class="content">{{'content.bellecour.sections.eight.text' | translate}}</div>
      </div>
    </div>
    <div class= "content-item timepoint"  id="bellecour-nine">
      <div class="timeline-point" section="bellecour-nine" style="border-color: {{model.curr.colour}}"></div>
      <div class="timepoint-heading">
        <span class="date">{{'content.bellecour.sections.nine.date' | translate}}:</span>
        <span class="caption"> {{'content.bellecour.sections.nine.caption' | translate}}</span>
      </div>
      <div class="timeline-event" style="border-color: {{model.curr.colour}}">
        <div class="content">{{'content.bellecour.sections.nine.text' | translate}}</div>
      </div>
    </div>
    <div class= "content-item timepoint"  id="bellecour-ten">
      <div class="timeline-point" section="bellecour-ten" style="border-color: {{model.curr.colour}}"></div>
      <div class="timepoint-heading">
        <span class="date">{{'content.bellecour.sections.ten.date' | translate}}:</span>
        <span class="caption"> {{'content.bellecour.sections.ten.caption' | translate}}</span>
      </div>
      <div class="timeline-event" style="border-color: rgba(0,0,0,0)">
        <div class="content">{{'content.bellecour.sections.ten.text' | translate}}</div>
      </div>
    </div>
  </div>
</div>
