<div class= "actor-details col-md-12" -du-scroll-container  data-aos="fade-in"  data-aos-duration="2000">
  <div class="header col-md-10 col-md-offset-1">
    <div class="header-text col-md-9">
      <div class="title">{{'content.bellecour.title.main' | translate}}</div>
      <div class="subtitle">{{'content.bellecour.title.sub' | translate}}</div>
    </div>
    <div class="portrait-container col-md-3" style="background: linear-gradient(rgba(78,121,167, 0.4), rgba(78,121,167, 0.4)) ,url({{model.curr.img_src}});"></div>
    <a href="{{model.curr.cf_link}}" target="_blank"><img class="signature" src="{{model.curr.signature}}"></img></a>
  </div>
  <div class="main-content col-md-10 col-md-offset-1">
    <div class= "content-item timepoint"  id="bellecour-one" >
      <div class="timeline-point" section="bellecour-one" style="border-color: {{model.curr.colour}}"></div>
      <div class="timepoint-heading">
        <span class="date">{{'content.bellecour.sections.one.date' | translate}}</span>
        <span class="caption"> {{'content.bellecour.sections.one.caption' | translate}}</span>
      </div>
      <div class="timeline-event" style="border-color: {{model.curr.colour}}">
        <div class="content" data-aos="fade-in"  data-aos-duration="1000">{{'content.bellecour.sections.one.text' | translate}}</div>
      </div>
    </div>
    <div class= "content-item timepoint"  id="bellecour-two">
      <div class="timeline-point" section="bellecour-two" style="border-color: {{model.curr.colour}}"></div>
      <div class="timepoint-heading">
        <span class="date">{{'content.bellecour.sections.two.date' | translate}}</span>
        <span class="caption"> {{'content.bellecour.sections.two.caption' | translate}}</span>
      </div>
      <div class="timeline-event" style="border-color: {{model.curr.colour}}">
        <div class="content" >
          <p>{{'content.bellecour.sections.two.text' | translate}}</p>
          <div class="img-content">
            <div class="img-wrapper col-md-6">
              <img ez-plus ezp-model="{large:'style/img/bellecour/reception.jpg'}" ezp-options="{scrollZoom: true, easing:true, container:'b-1'}" src='style/img/bellecour/reception.jpg' style="height: 45vh">
              <div class="img-caption">{{'content.bellecour.captions.one'| translate}}</div>
            </div>
            <div class="transcription col-md-6 ">
              <i class="fas fa-quote-left" style="color:{{model.curr.colour}}"></i>
              <p>Nous, Duc de Gesvres, Père de France, Premier Gentilhomme de la Chambre du Roi,</p>
              <p>Avons reçu sous le bon plaisir de sa Majesté dans la Troupe des Comédiens français du Roi le Sieur De Bellecour pour jouer tant dans le Comique que dans le Tragique les différents Rôles auxquels il pourra être propre et nommément pour double dans le Comique des Sieurs Grandval et Lanoüe dans les Rôles qui leur sont attribués jusqu’à ce qu’il en soit ordonné autrement, et pour faire généralement tout ce qui conviendra pour le bien de la dite Troupe.</p>
              <p>Avons accordé au dit Sr. De Bellecourt une demie part savais un demi quart à prendre sur le quart restant de la demi-part dont jouissait le feu Sr. Rozelly et un quart de la demi-part vacante par la Retraite du Sr. Ribou, et l’expectative d’un demi-quart sur la première part qui viendra à vacque et jouira le dit Sr. De Bellecour du quart et demi quart accordé par le présent ordre à compter du jour de la vacance sauf la déduction de ce qu’il a reçu sur le sequestre.</p>
            </div>
          </div>
          <div class="modal-access"  style=" border-color: {{model.curr.colour}}; color: {{model.curr.colour}}"  ng-click="openModal('views/modals/debuts.html')">
            <p class="modal-link" >{{'modals.debuts.title' | translate }}</p>
          </div>
        </div>
      </div>
    </div>
    <div class= "content-item timepoint"  id="bellecour-three">
      <div class="timeline-point" section="bellecour-three" style="border-color: {{model.curr.colour}}"></div>
      <div class="timepoint-heading">
        <span class="date">{{'content.bellecour.sections.three.date' | translate}}</span>
        <span class="caption"> {{'content.bellecour.sections.three.caption' | translate}}</span>
      </div>
      <div class="timeline-event" style="border-color: {{model.curr.colour}}">
        <div class="content" >
          <p>{{'content.bellecour.sections.three.text' | translate}}</p>
          <div class="img-content">
            <div class="img-wrapper col-md-6">
              <img ez-plus ezp-model="{large:'style/img/bellecour/retraite.jpg'}" ezp-options="{scrollZoom: true, easing:true, container:'b-2'}" src='style/img/bellecour/retraite.jpg' style="height: 45vh" >
              <div class="img-caption">{{'content.bellecour.captions.two'| translate}}</div>
            </div>
            <div class="transcription col-md-6">
              <i class="fas fa-quote-left" style="color:{{model.curr.colour}}"></i>
              <p>Le Service de la Cour, et du Public exigeant que le Sieur Bellecour continue de consacrer ses talents en qualité de Comédien Français du Roi, Nous n’avons pas pu lui accorder le congé de retraite qu’il nous avait demandé, mais sa santé exigeant qu’il fasse les remèdes qui pourraient lui être convenables, Nous lui accordons un congé de trois mois dans le Cours de l’été prochain pour son rétablissement. Nous espérons qu’il continuera de remplir avec le même zèle, le même succès, et la même bonne volonté que par le passé ses devoirs, et qu’il contribuera par son exemple au rétablissement du bon ordre que Nous avons en vue.</p>
            </div>
          </div>
          <div class="img-content">
            <div class="transcription col-md-6">
              <i class="fas fa-quote-left" style="color:{{model.curr.colour}}"></i>
              <p>Il sera libre aux dits Acteurs ou Actrices de se retirer après 20 années de service, et au dit cas ils jouiront de la pension de 1000 livres laquelle sera constituée à leur profit, conformément au précédent article; sauf néanmoins que ceux des dits Acteurs ou Actrices qui seront jugés nécessaires après les dits 20 ans de service, ne pourront se retirer, mais auront 1500 livres de pension et continuant par eux leur service pendant dix autres années.</p>
            </div>
            <div class="img-wrapper col-md-6">
              <img src='style/img/bellecour/reglement_retraite.png'>
              <div class="img-caption">{{'content.bellecour.captions.three'| translate}}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class= "content-item timepoint"  id="bellecour-four">
      <div class="timeline-point" section="bellecour-four" style="border-color: {{model.curr.colour}}"></div>
      <div class="timepoint-heading">
        <span class="date">{{'content.bellecour.sections.four.date' | translate}}</span>
        <span class="caption"> {{'content.bellecour.sections.four.caption' | translate}}</span>
      </div>
      <div class="timeline-event" style="border-color: {{model.curr.colour}}">
        <div class="content" >
          <p>{{'content.bellecour.sections.four.text' | translate}}</p>
          <div class="img-content">
            <div class="col-md-6 img-wrapper">
              <div class="carousel">
                 <slick class="slider carous">
                   <div><img ez-plus ezp-model="{large:'style/img/bellecour/malade_1_1.jpg'}" ezp-options="{scrollZoom: true, easing:true, container:'b-4'}" src='style/img/bellecour/malade_1_1.jpg'></div>
                   <div><img ez-plus ezp-model="{large:'style/img/bellecour/malade_1_2.jpg'}" ezp-options="{scrollZoom: true, easing:true, container:'b-5'}" src='style/img/bellecour/malade_1_2.jpg'></div>
                 </slick>
              </div>
              <div class="img-caption">{{'content.bellecour.captions.four'| translate}}</div>
            </div>
            <div class="transcription col-md-6">
              <i class="fas fa-quote-left" style="color:{{model.curr.colour}}"></i>
              <p>Sans mon rhume que le Rôle du joueur a passablement augmenté, vous n’auriez pas eu de pitié de votre serviteur. J’aurais été sûrement à l’Assemblée ; mais j’ai cru qu’il valait mieux boire que de ne pas vous être utile. Si vous pouviez ne pas me faire jouer demain je vous en serai bien obligé du reste disposer de mon zèle et de ma bonne volonté. </p>
              <p>Il doit être question ce matin du Barbier de Séville. Permettez-moi de vous faire remarquer que je crois, et que tout le monde à la lecture a cru comme moi, que cet ouvrage pour nos intérêts devrait être jouer dans le carnaval. Si on ne choisit pas ce temps-là, il faudra nécessairement refaire une partie de l’ouvrage. Du moins, je le pense et vous avez trop de connaissance pour ne pas sentir que ce tableau hors de son cadre ne fera pas l’effet qu’on en peut espérer et que si on ne le joue pas dans ce moment-ci il faut du moins le réserver pour un autre carnaval et prendre des arrangements en conséquence. Camarades, ne soyez point enrhumés, c’est une mauvaise chose.</p>
              <p style="text-align: right">J’ai l’honneur d’être avec estime et considération,<br/><br/>votre camarade,<br>De Bellecour</p>
            </div>
          </div>
          <div class="img-content">
            <div class="transcription col-md-6">
              <i class="fas fa-quote-left" style="color:{{model.curr.colour}}"></i>
              <p>Je ne devrais point jouer aujourd’hui en conséquence j’ai pris ce matin une drogue que ne me permet pas de sortir qu’elle n’aie achevé son effet, je ne puis me rendre à l’Assemblée. Mais comme le bien de ma société doit importer surtout quoique je puisse conter avec raison être libre. Je jouerai si cela est nécessaire, on connaît ma bonne volonté. Cela me dérange mais si l’on ne peut pas faire autrement, il n’importe, je serai à vos ordres faire mon dire seulement par le commissionnaire que j’envoie ce que vous aurez arrangé.</p>
            </div>
            <div class="img-wrapper col-md-6">
              <img ez-plus ezp-model="{large:'style/img/bellecour/malade_2.jpg'}" ezp-options="{scrollZoom: true, easing:true, container:'b-6', zoomWindowPosition: 11}" src='style/img/bellecour/malade_2.jpg' style="height: 45vh" >
              <div class="img-caption">{{'content.bellecour.captions.five'| translate}}</div>
            </div>
          </div>
          <div class="modal-access"  style=" border-color: {{model.curr.colour}}; color: {{model.curr.colour}}"  ng-click="openModal('views/modals/corps.html')">
            <p class="modal-link" >{{'modals.corps.title' | translate }}</p>
          </div>
        </div>
      </div>
    </div>
    <div class= "content-item timepoint"  id="bellecour-five">
      <div class="timeline-point" section="bellecour-five" style="border-color: {{model.curr.colour}}"></div>
      <div class="timepoint-heading">
        <span class="date">{{'content.bellecour.sections.five.date' | translate}}</span>
        <span class="caption"> {{'content.bellecour.sections.five.caption' | translate}}</span>
      </div>
      <div class="timeline-event" style="border-color: {{model.curr.colour}}">
        <div class="content" >
          <p>{{'content.bellecour.sections.five.text' | translate}}</p>
          <div class="img-content">
            <div class="transcription col-md-6">
              <i class="fas fa-quote-left" style="color:{{model.curr.colour}}"></i>
              <p>J’ai une pension de 1000 livres. Lekain a du Roi 2500, Préville 1500 livres et une pension pour son école ; Molé 2000 livres, Brizard 1000 livres comme moi, Mlle. Dumesnil a 3500 livres de Retraite du Roy ; ainsi vous voyez que Lekain qui est du même jour que moi à la comédie a du Roy 1500 livres de plus. Mes cadets ont le double; ou autant, mais j'espère que mes supérieurs joindrons à l’estime qu’ils ont pour des Services sans exemple et pour une conduite irréprochable assez de faveur pour me faire obtenir au moins ce qu’ont mes autres camarades. Si cela ne se peut pas, je n’en prendrai ni humeur ni chagrin et je dirai seulement comme je vous l’ai déjà dit tout est heur ou malheur…</p>
            </div>
            <div class="img-wrapper col-md-6">
              <div class="carousel">
                 <slick class="slider carous">
                   <div><img ez-plus ezp-model="{large:'style/img/bellecour/pensions_1.jpg'}" ezp-options="{scrollZoom: true, easing:true, container:'b-8', zoomWindowPosition: 11}" src='style/img/bellecour/pensions_1.jpg'></div>
                   <div><img ez-plus ezp-model="{large:'style/img/bellecour/pensions_2.jpg'}" ezp-options="{scrollZoom: true, easing:true, container:'b-9', zoomWindowPosition: 11}" src='style/img/bellecour/pensions_2.jpg'></div>
                   <div><img ez-plus ezp-model="{large:'style/img/bellecour/pensions_3.jpg'}" ezp-options="{scrollZoom: true, easing:true, container:'b-10', zoomWindowPosition: 11}" src='style/img/bellecour/pensions_3.jpg'></div>
                 </slick>
              </div>
              <div class="img-caption">{{'content.bellecour.captions.seven'| translate}}</div>
            </div>
          </div>
          <div class="modal-access"  style=" border-color: {{model.curr.colour}}; color: {{model.curr.colour}}"  ng-click="openModal('views/modals/pensions.html')">
            <p class="modal-link" >{{'modals.pensions.title' | translate }}</p>
          </div>
        </div>
      </div>
    </div>
    <div class= "content-item timepoint"  id="bellecour-six">
      <div class="timeline-point" section="bellecour-six" style="border-color: {{model.curr.colour}}"></div>
      <div class="timepoint-heading">
        <span class="date">{{'content.bellecour.sections.six.date' | translate}}</span>
        <span class="caption"> {{'content.bellecour.sections.six.caption' | translate}}</span>
      </div>
      <div class="timeline-event" style="border-color: {{model.curr.colour}}">
        <div class="content" >
          <p>{{'content.bellecour.sections.six.text' | translate}}</p>
          <div class="img-content" style="display:block !important">
            <div class="img-wrapper">
              <div class="carousel" style="width: 50%; margin-left: 24%">
                 <slick class="slider carous">
                   <div><img ez-plus ezp-model="{large:'style/img/bellecour/lekain_1.jpg'}" ezp-options="{scrollZoom: true, easing:true, container:'b-11'}" src='style/img/bellecour/lekain_1.jpg'></div>
                   <div><img ez-plus ezp-model="{large:'style/img/bellecour/lekain_2.jpg'}" ezp-options="{scrollZoom: true, easing:true, container:'b-12'}" src='style/img/bellecour/lekain_2.jpg'></div>
                   <div><img ez-plus ezp-model="{large:'style/img/bellecour/lekain_3.jpg'}" ezp-options="{scrollZoom: true, easing:true, container:'b-13'}" src='style/img/bellecour/lekain_3.jpg'></div>
                 </slick>
              </div>
              <div class="img-caption">{{'content.bellecour.captions.eight'| translate}}</div>
            </div>
            <div class="transcription">
              <i class="fas fa-quote-left" style="color:{{model.curr.colour}}"></i>
              <p>Mon intention était d’aller à votre assemblée mais la mort de mon camarade LeKain si prompte, si inattendue a dérangé ma pauvre tête ; le théâtre perd un homme d’un grand talent et sans avoir aucun dessein d’offenser ceux qui vous restent, il ne faut pas se dissimuler que c’est une grande et une très grande perte pour vous.</p>
              <p>Nous avons été reçus le même jour ; et sans me mettre au même rang que lui ; notre carrière d’intérêt a toujours été partagée. Demie part, trois quart, part, tout nous a été adjugé à jour pareil.</p>
              <p>Il n’existe plus dans le théâtre, et je crois que je dois l’imiter ; sa perte m’apprend qu’il faut mettre une distance entre ses occupations, et la mort ; et tout ce qui se machine contre notre état, qu’il faut le quitter.</p>
              <p>Il aura du moins eu l’avantage en mourant de ne point voir la destruction du plus beau des théâtres ; j’envie son sort mais je dois du moins la prévenir, et ne pas l’attendre ; non que je me refuse à tout ce pourra conserver votre Société.</p>
              <p>Si vous avez besoin de moi pour soutenir vos droits justes, et bien réels, contre la voracité, et la cupidité de vos adversaires, je marcherai comme votre doyen toujours à votre tête, je lutterai de toutes mes forces contre l’iniquité d’un tas d’absurdes prétentions ; je ne suis point riche, pauvre même. Mais dussé-je être le seul sacrifié si ce sacrifice conserve le théâtre, je me glorifierai de l’avoir fait, je ne suis plus comédien, mais je suis à tous votre ami, et ferai toujours gloire d’avoir été votre camarade.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class= "content-item timepoint"  id="bellecour-seven">
      <div class="timeline-point" section="bellecour-seven" style="border-color: {{model.curr.colour}}"></div>
      <div class="timepoint-heading">
        <span class="date">{{'content.bellecour.sections.seven.date' | translate}}</span>
        <span class="caption"> {{'content.bellecour.sections.seven.caption' | translate}}</span>
      </div>
      <div class="timeline-event" style="border-color: {{model.curr.colour}}">
        <div class="content" >
          <p>{{'content.bellecour.sections.seven.text' | translate}}</p>
          <div class="img-content">
            <div class="img-wrapper col-md-6">
              <div class="carousel">
                 <slick class="slider carous">
                   <div><img ez-plus ezp-model="{large:'style/img/bellecour/cour_1.jpg'}" ezp-options="{scrollZoom: true, easing:true, container:'b-14'}" src='style/img/bellecour/cour_1.jpg'></div>
                   <div><img ez-plus ezp-model="{large:'style/img/bellecour/cour_2.jpg'}" ezp-options="{scrollZoom: true, easing:true, container:'b-15'}" src='style/img/bellecour/cour_2.jpg'></div>
                   <div><img ez-plus ezp-model="{large:'style/img/bellecour/cour_3.jpg'}" ezp-options="{scrollZoom: true, easing:true, container:'b-16'}" src='style/img/bellecour/cour_3.jpg'></div>
                   <div><img ez-plus ezp-model="{large:'style/img/bellecour/cour_4.jpg'}" ezp-options="{scrollZoom: true, easing:true, container:'b-17'}" src='style/img/bellecour/cour_4.jpg'></div>
                   <div><img ez-plus ezp-model="{large:'style/img/bellecour/cour_5.jpg'}" ezp-options="{scrollZoom: true, easing:true, container:'b-18'}" src='style/img/bellecour/cour_5.jpg'></div>
                   <div><img ez-plus ezp-model="{large:'style/img/bellecour/cour_6.jpg'}" ezp-options="{scrollZoom: true, easing:true, container:'b-19'}" src='style/img/bellecour/cour_6.jpg'></div>
                   <div><img ez-plus ezp-model="{large:'style/img/bellecour/cour_7.jpg'}" ezp-options="{scrollZoom: true, easing:true, container:'b-20'}" src='style/img/bellecour/cour_7.jpg'></div>
                   <div><img ez-plus ezp-model="{large:'style/img/bellecour/cour_8.jpg'}" ezp-options="{scrollZoom: true, easing:true, container:'b-21'}" src='style/img/bellecour/cour_8.jpg'></div>
                   <div><img ez-plus ezp-model="{large:'style/img/bellecour/cour_9.jpg'}" ezp-options="{scrollZoom: true, easing:true, container:'b-22'}" src='style/img/bellecour/cour_9.jpg'></div>
                   <div><img ez-plus ezp-model="{large:'style/img/bellecour/cour_10.jpg'}" ezp-options="{scrollZoom: true, easing:true, container:'b-23'}" src='style/img/bellecour/cour_10.jpg'></div>
                   <div><img ez-plus ezp-model="{large:'style/img/bellecour/cour_11.jpg'}" ezp-options="{scrollZoom: true, easing:true, container:'b-24'}" src='style/img/bellecour/cour_11.jpg'></div>
                   <div><img ez-plus ezp-model="{large:'style/img/bellecour/cour_12.jpg'}" ezp-options="{scrollZoom: true, easing:true, container:'b-25'}" src='style/img/bellecour/cour_12.jpg'></div>
                 </slick>
              </div>
              <div class="img-caption">{{'content.bellecour.captions.nine'| translate}}</div>
            </div>
            <div class="transcription col-md-6">
              <i class="fas fa-quote-left" style="color:{{model.curr.colour}}"></i>
              <p>Plus je réfléchis sur les moyens de faire réussir le projet que vous m’avez confié, et plus je trouve de difficultés et même d’impossibilités. Il faut d’abord l’envisager sous tous les points et je commence par les intérêts divers qui en ont fait naître l’idée… </p>
              <p>Il est question actuellement de voir si l’intérêt des comédiens du Roi est que cette troupe suivant la Cour aie une relation avec elle et prenne, comme Messieurs les premiers gentilshommes de la chambre le désirent, une consistance réelle et une force bien décidée. Messieurs les premiers gentilshommes disent voilà une troupe qui en devenant meilleure peut faire naître l’idée à la Reine de la prendre totalement pour le Service de la Cour et en donnant à cette troupe la moitié de ce qu’il en conte pour celle du Roi d’avoir tous les jours Spectacle sous la main. Ils disent cette troupe peut devenir celle du Roi. Et nous n’y serons pour rien… </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class= "content-item timepoint"  id="bellecour-eight">
      <div class="timeline-point" section="bellecour-eight" style="border-color: {{model.curr.colour}}"></div>
      <div class="timepoint-heading">
        <span class="date">{{'content.bellecour.sections.eight.date' | translate}}</span>
        <span class="caption"> {{'content.bellecour.sections.eight.caption' | translate}}</span>
      </div>
      <div class="timeline-event" style="border-color: {{model.curr.colour}}">
        <div class="content">
          <p>{{'content.bellecour.sections.eight.text' | translate}}</p>
          <div class="img-content" style="display: block !important">
            <div class="img-wrapper">
              <div class="carousel" style="width: 50%; margin-left: 24%">
                 <slick class="slider carous">
                   <div><img ez-plus ezp-model="{large:'style/img/bellecour/triste_1.jpg'}" ezp-options="{scrollZoom: true, easing:true, container:'b-26'}" src='style/img/bellecour/triste_1.jpg'></div>
                   <div><img ez-plus ezp-model="{large:'style/img/bellecour/triste_2.jpg'}" ezp-options="{scrollZoom: true, easing:true, container:'b-27'}" src='style/img/bellecour/triste_2.jpg'></div>
                   <div><img ez-plus ezp-model="{large:'style/img/bellecour/triste_3.jpg'}" ezp-options="{scrollZoom: true, easing:true, container:'b-28'}" src='style/img/bellecour/triste_3.jpg'></div>
                   <div><img ez-plus ezp-model="{large:'style/img/bellecour/triste_4.jpg'}" ezp-options="{scrollZoom: true, easing:true, container:'b-29'}" src='style/img/bellecour/triste_4.jpg'></div>
                   <div><img ez-plus ezp-model="{large:'style/img/bellecour/triste_5.jpg'}" ezp-options="{scrollZoom: true, easing:true, container:'b-30'}" src='style/img/bellecour/triste_5.jpg'></div>
                   <div><img ez-plus ezp-model="{large:'style/img/bellecour/triste_6.jpg'}" ezp-options="{scrollZoom: true, easing:true, container:'b-31'}" src='style/img/bellecour/triste_6.jpg'></div>
                   <div><img ez-plus ezp-model="{large:'style/img/bellecour/triste_7.jpg'}" ezp-options="{scrollZoom: true, easing:true, container:'b-32'}" src='style/img/bellecour/triste_7.jpg'></div>
                 </slick>
              </div>
              <div class="img-caption">{{'content.bellecour.captions.ten'| translate}}</div>
            </div>
            <div class="transcription">
              <i class="fas fa-quote-left" style="color:{{model.curr.colour}}"></i>
              <p>Je n’ai pu hier répondre qu’un mot à la lettre que vous m’avez fait l’honneur de m’écrire. Permettez que j’entre aujourd’hui dans quelques détails. Vous avez cru que ma tête était échauffée, vous m'exhortez à tranquilliser mon esprit, et à laisser tomber des bruits dont je vois le peu de fondement. Je commence par vous assurer qu’en faisant part de ces bruits à Monsieur le Maréchal, je n’ai eu nulle intention de les relever, et qu’ils m’ont affecté très médiocrement.</p>
              <p>En détaillant les grâces qu’ont obtenus les camarades que j’ai cité je n’ai point prétendu qu’on imagina que je visse avec regret leur bonheur. L’envie n’a jamais eu de place ni dans ma tête ni dans mon coeur. J’ai voulu seulement faire remarquer que ce que mes Supérieurs ont la Bonté de louer en moi ne valait pas ce que l’on blâme dans quelques uns d’eux.</p>
              <p>Ne nous faisons pas d’illusion, mon zèle pour ma société, les sacrifices d’amour propre que j’ai fait souvent ne sont regardé par la plupart de mes camarades que comme faiblesse et imbécillité. Quand je me prête à faire ce qu’ils ne feraient pas à ma place, c’est par probité que je le fais…</p>
              <p>Le titre de premier est un objet réel d’envie et de jalousie et je crois fermement qu’il est temps de le céder… ma philosophie attribue tout à la Roue de fortune qui tourne plus vite ou plus lentement pour l’un que pour l’autre. Tout est heur ou malheur et ce qui échappe à Pierre réussit à Jacques… Faites moi la justice d’être bien persuadé qu’en parcourant les divers incidents qui ont rempli mes vingt-sept ans de comédie.</p>
            </div>
          </div>
          <div class="aside" style="background-image:linear-gradient( rgba(78,121,167,.4), rgba(78,121,167,.4) )/*, url('style/img/register_backgrounds/register_1.png');*/">
            <div class="aside-content" style="border-color:rgb(78,121,167)">
              <h3 style="color: {{model.curr.colour}}">{{'asides.contrast.title' | translate}}</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class= "content-item timepoint"  id="bellecour-nine">
      <div class="timeline-point" section="bellecour-nine" style="border-color: {{model.curr.colour}}"></div>
      <div class="timepoint-heading">
        <span class="date">{{'content.bellecour.sections.nine.date' | translate}}</span>
        <span class="caption"> {{'content.bellecour.sections.nine.caption' | translate}}</span>
      </div>
      <div class="timeline-event" style="border-color: rgba(0,0,0,0)">
        <div class="content">
          <p>{{'content.bellecour.sections.nine.text' | translate}}</p>
          <a class="register-link" href="https://books.google.fr/books?id=8ecWAAAAYAAJ&hl=fr&pg=PA52#v=onepage&q=Bellecour&f=false" target="_blank" style="color:rgb(78,121,167) !important ">{{'mercure' | translate}}<i class="fas fa-arrow-right"></i></a>
          <div class="img-content" style="display: block !important">
            <div class="img-wrapper">
              <div class="carousel" style="width: 50%; margin-left: 24%">
                 <slick class="slider carous">
                   <div><img ez-plus ezp-model="{large:'style/img/bellecour/eloge_1.jpg'}" ezp-options="{scrollZoom: true, easing:true, container:'b-33'}" src='style/img/bellecour/eloge_1.jpg'></div>
                   <div><img ez-plus ezp-model="{large:'style/img/bellecour/eloge_2.jpg'}" ezp-options="{scrollZoom: true, easing:true, container:'b-34'}" src='style/img/bellecour/eloge_2.jpg'></div>
                   <div><img ez-plus ezp-model="{large:'style/img/bellecour/eloge_3.jpg'}" ezp-options="{scrollZoom: true, easing:true, container:'b-35'}" src='style/img/bellecour/eloge_3.jpg'></div>
                 </slick>
              </div>
              <div class="img-caption">{{'content.bellecour.captions.eleven'| translate}}</div>
            </div>
            <div class="transcription">
              <i class="fas fa-quote-left" style="color:{{model.curr.colour}}"></i>
              <p>Je ne suis pas le seul qui improuve ce que vous avez dit de Bellecour, tous ses camarades en sont révoltés….je n’ai pas pu me refuser de partager avec tant d'honnêtes gens le sentiment que votre article leur a inspiré et la satisfaction de vous en faire des reproches.</p>
              <p>Si vous n’avez pas trouvé dans Bellecour tout ce qui constitue un très bon comédien, ne pouviez-vous pas vous dispenser d’en parler, et laisser à d’autres mains ou le blâme d’en dire du mal ou le plaisir d’en dire tout le bien qu’il méritait ?</p>
              <p>Vous dites que le théâtre a perdu Bellecour: et vous le soignez de manière à prouver que ce n’est pas une perte. Il a peut mérité de vous, sans doute parce qu’il ne jouait point dans le tragique que, dites-vous, il a eu le bon esprit de quitter...Vous n’avez point eu besoin de ses talents, mais il a servi, et fort bien, des autres … il faisait tout les jours des sacrifices de son amour propre, de son parfait attachement à ses devoirs, du lustre qu’il donnait aux vrais talents …. Et de l’aide qu’il donnait aux plus faibles…</p>
              <p>Il fallait après avoir dit qu’il n’avait ni les grâces, ni les nuances délicates et fines du célèbre Grandval à qui il a succédé. Ne lui pas ôter une partie que le caractérisait qui était la noblesse. Il fallait dire, au contraire, qu’il en avait beaucoup et qu’il avait été le conservateur de la dignité et de la décence théâtrale que cette qualité seule peut soutenir. C’était un moyen d’éloge…</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
