<div class= "actor-details" -du-scroll-container>
  <div class="header col-md-12">
    <div class="header-text">
      <div class="title">{{'content.bellecour.title.main' | translate}}</div>
      <div class="subtitle">{{'content.bellecour.title.sub' | translate}}</div>
    </div>
    <div class="portrait">
      <img style="border-color: {{model.curr.colour}}" class="stacked icon" ng-src ="{{model.curr.img_src}}"></img>
      <a href="{{model.curr.cf_link}}" target="_blank"><img class="stacked frame" src ="https://svgsilh.com/svg/1296759.svg"></img></a>
    </div>
  </div>
</div>
