<div class= "actor-details col-md-12" -du-scroll-container>
  <div class="header col-md-10 col-md-offset-1">
    <div class="header-text col-md-9">
      <div class="title">{{'content.contat.title.main' | translate}}</div>
      <div class="subtitle">{{'content.contat.title.sub' | translate}}</div>
    </div>
    <div class="portrait-container col-md-3" style="background: linear-gradient(rgba(255,157,167, 0.4), rgba(255,157,167, 0.4)) ,url({{model.curr.img_src}});"></div>
    <a href="{{model.curr.cf_link}}" target="_blank"><img class="signature" src="{{model.curr.signature}}"></img></a>
  </div>
  <div class="main-content col-md-10 col-md-offset-1">
    <div class= "content-item timepoint"  id="contat-one">
      <div class="timeline-point" section="contat-one" style="border-color: {{model.curr.colour}}"></div>
      <div class="timepoint-heading">
        <span class="date">{{'content.contat.sections.one.date' | translate}}:</span>
        <span class="caption"> {{'content.contat.sections.one.caption' | translate}}</span>
      </div>
      <div class="timeline-event" style="border-color: {{model.curr.colour}}">
        <div class="content">{{'content.contat.sections.one.text' | translate}}</div>
      </div>
    </div>
    <div class= "content-item timepoint"  id="contat-two">
      <div class="timeline-point" section="contat-two" style="border-color: {{model.curr.colour}}"></div>
      <div class="timepoint-heading">
        <span class="date">{{'content.contat.sections.two.date' | translate}}:</span>
        <span class="caption"> {{'content.contat.sections.one.caption' | translate}}</span>
      </div>
      <div class="timeline-event" style="border-color: {{model.curr.colour}}">
        <div class="content">{{'content.contat.sections.two.text' | translate}}</div>
      </div>
    </div>
    <div class= "content-item timepoint"  id="contat-three">
      <div class="timeline-point" section="contat-three" style="border-color: {{model.curr.colour}}"></div>
      <div class="timepoint-heading">
        <span class="date">{{'content.contat.sections.three.date' | translate}}:</span>
        <span class="caption"> {{'content.contat.sections.three.caption' | translate}}</span>
      </div>
      <div class="timeline-event" style="border-color: {{model.curr.colour}}">
        <div class="content">{{'content.contat.sections.three.text' | translate}}</div>
      </div>
    </div>
    <div class= "content-item timepoint"  id="contat-four">
      <div class="timeline-point" section="contat-four" style="border-color: {{model.curr.colour}}"></div>
      <div class="timepoint-heading">
        <span class="date">{{'content.contat.sections.four.date' | translate}}:</span>
        <span class="caption"> {{'content.contat.sections.four.caption' | translate}}</span>
      </div>
      <div class="timeline-event" style="border-color: {{model.curr.colour}}">
        <div class="content">{{'content.contat.sections.four.text' | translate}}</div>
      </div>
    </div>
    <div class= "content-item timepoint"  id="contat-five">
      <div class="timeline-point" section="contat-five" style="border-color: {{model.curr.colour}}"></div>
      <div class="timepoint-heading">
        <span class="date">{{'content.contat.sections.five.date' | translate}}:</span>
        <span class="caption"> {{'content.contat.sections.five.caption' | translate}}</span>
      </div>
      <div class="timeline-event" style="border-color: {{model.curr.colour}}">
        <div class="content">{{'content.contat.sections.five.text' | translate}}</div>
      </div>
    </div>
    <div class= "content-item timepoint"  id="contat-six">
      <div class="timeline-point" section="contat-six" style="border-color: {{model.curr.colour}}"></div>
      <div class="timepoint-heading">
        <span class="date">{{'content.contat.sections.six.date' | translate}}:</span>
        <span class="caption"> {{'content.contat.sections.six.caption' | translate}}</span>
      </div>
      <div class="timeline-event" style="border-color: {{model.curr.colour}}">
        <div class="content">{{'content.contat.sections.six.text' | translate}}</div>
      </div>
    </div>
    <div class= "content-item timepoint"  id="contat-seven">
      <div class="timeline-point" section="contat-seven" style="border-color: {{model.curr.colour}}"></div>
      <div class="timepoint-heading">
        <span class="date">{{'content.contat.sections.seven.date' | translate}}:</span>
        <span class="caption"> {{'content.contat.sections.seven.caption' | translate}}</span>
      </div>
      <div class="timeline-event" style="border-color: {{model.curr.colour}}">
        <div class="content">{{'content.contat.sections.seven.text' | translate}}</div>
      </div>
    </div>
    <div class= "content-item timepoint"  id="contat-eight">
      <div class="timeline-point" section="contat-eight" style="border-color: {{model.curr.colour}}"></div>
      <div class="timepoint-heading">
        <span class="date">{{'content.contat.sections.eight.date' | translate}}:</span>
        <span class="caption"> {{'content.contat.sections.eight.caption' | translate}}</span>
      </div>
      <div class="timeline-event" style="border-color: {{model.curr.colour}}">
        <div class="content">{{'content.contat.sections.eight.text' | translate}}</div>
      </div>
    </div>
    <div class= "content-item timepoint"  id="contat-nine">
      <div class="timeline-point" section="contat-nine" style="border-color: {{model.curr.colour}}"></div>
      <div class="timepoint-heading">
        <span class="date">{{'content.contat.sections.nine.date' | translate}}:</span>
        <span class="caption"> {{'content.contat.sections.nine.caption' | translate}}</span>
      </div>
      <div class="timeline-event" style="border-color: {{model.curr.colour}}">
        <div class="content">{{'content.contat.sections.nine.text' | translate}}</div>
      </div>
    </div>
    <div class= "content-item timepoint"  id="contat-ten">
      <div class="timeline-point" section="contat-ten" style="border-color: {{model.curr.colour}}"></div>
      <div class="timepoint-heading">
        <span class="date">{{'content.contat.sections.ten.date' | translate}}:</span>
        <span class="caption"> {{'content.contat.sections.ten.caption' | translate}}</span>
      </div>
      <div class="timeline-event" style="border-color: {{model.curr.colour}}">
        <div class="content">{{'content.contat.sections.ten.text' | translate}}</div>
      </div>
    </div>
    <div class= "content-item timepoint"  id="contat-eleven">
      <div class="timeline-point" section="contat-eleven" style="border-color: {{model.curr.colour}}"></div>
      <div class="timepoint-heading">
        <span class="date">{{'content.contat.sections.eleven.date' | translate}}:</span>
        <span class="caption"> {{'content.contat.sections.eleven.caption' | translate}}</span>
      </div>
      <div class="timeline-event" style="border-color: rgba(0,0,0,0)">
        <div class="content">{{'content.contat.sections.eleven.text' | translate}}</div>
      </div>
    </div>
  </div>
</div>
