<div class= "actor-details col-md-12" -du-scroll-container data-aos="fade-in"  data-aos-duration="2000">
  <div class="header col-md-10 col-md-offset-1">
    <div class="header-text col-md-9">
      <div class="title">{{'content.contat.title.main' | translate}}</div>
      <div class="subtitle">{{'content.contat.title.sub' | translate}}</div>
    </div>
    <div class="portrait-container col-md-3" style="background: linear-gradient(rgba(255,157,167, 0.4), rgba(255,157,167, 0.4)) ,url({{model.curr.img_src}});"></div>
    <a href="{{model.curr.cf_link}}" target="_blank"><img class="signature" src="{{model.curr.signature}}"></img></a>
  </div>
  <div class="main-content col-md-10 col-md-offset-1">
    <div class= "content-item timepoint"  id="contat-naissance">
      <div class="timeline-point" section="contat-naissance" style="border-color: {{model.curr.colour}}"></div>
      <div class="timepoint-heading">
        <span class="date">{{'content.contat.sections.naissance.date' | translate}}</span>
        <span class="caption"> {{'content.contat.sections.naissance.caption' | translate}}</span>
      </div>
      <div class="timeline-event" style="border-color: {{model.curr.colour}}">
        <div class="content">{{'content.contat.sections.naissance.text' | translate}}</div>
      </div>
    </div>
    <div class= "content-item timepoint"  id="contat-debut">
      <div class="timeline-point" section="contat-debut" style="border-color: {{model.curr.colour}}"></div>
      <div class="timepoint-heading">
        <span class="date">{{'content.contat.sections.debut.date' | translate}}</span>
        <span class="caption"> {{'content.contat.sections.debut.caption' | translate}}</span>
      </div>
      <div class="timeline-event" style="border-color: {{model.curr.colour}}">
        <div class="content">{{'content.contat.sections.debut.text' | translate}}</div>
      </div>
    </div>
    <div class= "content-item timepoint"  id="contat-quart">
      <div class="timeline-point" section="contat-quart" style="border-color: {{model.curr.colour}}"></div>
      <div class="timepoint-heading">
        <span class="date">{{'content.contat.sections.quart.date' | translate}}</span>
        <span class="caption"> {{'content.contat.sections.quart.caption' | translate}}</span>
      </div>
      <div class="timeline-event" style="border-color: {{model.curr.colour}}">
        <div class="content">{{'content.contat.sections.quart.text' | translate}}</div>
      </div>
    </div>
    <div class= "content-item timepoint"  id="contat-demi">
      <div class="timeline-point" section="contat-demi" style="border-color: {{model.curr.colour}}"></div>
      <div class="timepoint-heading">
        <span class="date">{{'content.contat.sections.demi.date' | translate}}</span>
        <span class="caption"> {{'content.contat.sections.demi.caption' | translate}}</span>
      </div>
      <div class="timeline-event" style="border-color: {{model.curr.colour}}">
        <div class="content">{{'content.contat.sections.demi.text' | translate}}</div>
      </div>
    </div>
    <div class= "content-item timepoint"  id="contat-trois-quarts">
      <div class="timeline-point" section="contat-trois-quarts" style="border-color: {{model.curr.colour}}"></div>
      <div class="timepoint-heading">
        <span class="date">{{'content.contat.sections.trois-quarts.date' | translate}}</span>
        <span class="caption"> {{'content.contat.sections.trois-quarts.caption' | translate}}</span>
      </div>
      <div class="timeline-event" style="border-color: {{model.curr.colour}}">
        <div class="content">{{'content.contat.sections.trois-quarts.text' | translate}}</div>
      </div>
    </div>
    <div class= "content-item timepoint"  id="contat-grossesse">
      <div class="timeline-point" section="contat-grossesse" style="border-color: {{model.curr.colour}}"></div>
      <div class="timepoint-heading">
        <span class="date">{{'content.contat.sections.grossesse.date' | translate}}</span>
        <span class="caption"> {{'content.contat.sections.grossesse.caption' | translate}}</span>
      </div>
      <div class="timeline-event" style="border-color: {{model.curr.colour}}">
        <div class="content">{{'content.contat.sections.grossesse.text' | translate}}</div>
      </div>
    </div>
    <div class= "content-item timepoint"  id="contat-entiere">
      <div class="timeline-point" section="contat-entiere" style="border-color: {{model.curr.colour}}"></div>
      <div class="timepoint-heading">
        <span class="date">{{'content.contat.sections.entiere.date' | translate}}</span>
        <span class="caption"> {{'content.contat.sections.entiere.caption' | translate}}</span>
      </div>
      <div class="timeline-event" style="border-color: {{model.curr.colour}}">
        <div class="content">{{'content.contat.sections.entiere.text' | translate}}</div>
      </div>
    </div>
    <div class= "content-item timepoint"  id="contat-amour">
      <div class="timeline-point" section="contat-amour" style="border-color: {{model.curr.colour}}"></div>
      <div class="timepoint-heading">
        <span class="date">{{'content.contat.sections.amour.date' | translate}}</span>
        <span class="caption"> {{'content.contat.amour.eight.caption' | translate}}</span>
      </div>
      <div class="timeline-event" style="border-color: {{model.curr.colour}}">
        <div class="content">{{'content.contat.sections.amour.text' | translate}}</div>
      </div>
    </div>
    <div class= "content-item timepoint"  id="contat-prison">
      <div class="timeline-point" section="contat-prison" style="border-color: {{model.curr.colour}}"></div>
      <div class="timepoint-heading">
        <span class="date">{{'content.contat.sections.prison.date' | translate}}</span>
        <span class="caption"> {{'content.contat.sections.prison.caption' | translate}}</span>
      </div>
      <div class="timeline-event" style="border-color: {{model.curr.colour}}">
        <div class="content">{{'content.contat.sections.prison.text' | translate}}</div>
      </div>
    </div>
    <div class= "content-item timepoint"  id="contat-retraite">
      <div class="timeline-point" section="contat-retraite" style="border-color: {{model.curr.colour}}"></div>
      <div class="timepoint-heading">
        <span class="date">{{'content.contat.sections.retraite.date' | translate}}</span>
        <span class="caption"> {{'content.contat.sections.retraite.caption' | translate}}</span>
      </div>
      <div class="timeline-event" style="border-color: {{model.curr.colour}}">
        <div class="content">{{'content.contat.sections.retraite.text' | translate}}</div>
      </div>
    </div>
    <div class= "content-item timepoint"  id="contat-benefice">
      <div class="timeline-point" section="contat-benefice" style="border-color: {{model.curr.colour}}"></div>
      <div class="timepoint-heading">
        <span class="date">{{'content.contat.sections.benefice.date' | translate}}</span>
        <span class="caption"> {{'content.contat.sections.benefice.caption' | translate}}</span>
      </div>
      <div class="timeline-event" style="border-color: {{model.curr.colour}}">
        <div class="content">{{'content.contat.sections.benefice.text' | translate}}</div>
      </div>
    </div>
    <div class= "content-item timepoint"  id="contat-mort">
      <div class="timeline-point" section="contat-mort" style="border-color: {{model.curr.colour}}"></div>
      <div class="timepoint-heading">
        <span class="date">{{'content.contat.sections.mort.date' | translate}}</span>
        <span class="caption"> {{'content.contat.sections.mort.caption' | translate}}</span>
      </div>
      <div class="timeline-event" style="border-color: rgba(0,0,0,0)">
        <div class="content">{{'content.contat.sections.mort.text' | translate}}</div>
      </div>
    </div>
  </div>
</div>
