<div class= "actor-details col-md-12" -du-scroll-container>
  <div class="header col-md-10 col-md-offset-1">
    <div class="portrait col-md-3">
      <img style="border-color: {{model.curr.colour}}" class="stacked icon" ng-src ="{{model.curr.img_src}}"></img>
      <a href="{{model.curr.cf_link}}" target="_blank"><img class="stacked frame" src ="https://svgsilh.com/svg/1296759.svg"></img></a>
    </div>
    <div class="header-text col-md-7">
      <div class="title">{{'content.joly.title.main' | translate}}</div>
      <div class="subtitle">{{'content.joly.title.sub' | translate}}</div>
    </div>
  </div>
  <div class="main-content col-md-10 col-md-offset-1">
    <div class= "content-item timepoint"  id="joly-one">
      <div class="timeline-point" section="joly-one" style="border-color: {{model.curr.colour}}"></div>
      <div class="timepoint-heading">
        <span class="date">{{'content.joly.sections.one.date' | translate}}:</span>
        <span class="caption"> {{'content.joly.sections.one.caption' | translate}}</span>
      </div>
      <div class="timeline-event" style="border-color: {{model.curr.colour}}">
        <div class="content">{{'content.joly.sections.one.text' | translate}}</div>
      </div>
    </div>
    <div class= "content-item timepoint"  id="joly-two">
      <div class="timeline-point" section="joly-two" style="border-color: {{model.curr.colour}}"></div>
      <div class="timepoint-heading">
        <span class="date">{{'content.joly.sections.two.date' | translate}}:</span>
        <span class="caption"> {{'content.joly.sections.one.caption' | translate}}</span>
      </div>
      <div class="timeline-event" style="border-color: {{model.curr.colour}}">
        <div class="content">{{'content.joly.sections.two.text' | translate}}</div>
      </div>
    </div>
    <div class= "content-item timepoint"  id="joly-three">
      <div class="timeline-point" section="joly-three" style="border-color: {{model.curr.colour}}"></div>
      <div class="timepoint-heading">
        <span class="date">{{'content.joly.sections.three.date' | translate}}:</span>
        <span class="caption"> {{'content.joly.sections.three.caption' | translate}}</span>
      </div>
      <div class="timeline-event" style="border-color: {{model.curr.colour}}">
        <div class="content">{{'content.joly.sections.three.text' | translate}}</div>
      </div>
    </div>
    <div class= "content-item timepoint"  id="joly-four">
      <div class="timeline-point" section="joly-four" style="border-color: {{model.curr.colour}}"></div>
      <div class="timepoint-heading">
        <span class="date">{{'content.joly.sections.four.date' | translate}}:</span>
        <span class="caption"> {{'content.joly.sections.four.caption' | translate}}</span>
      </div>
      <div class="timeline-event" style="border-color: {{model.curr.colour}}">
        <div class="content">{{'content.joly.sections.four.text' | translate}}</div>
      </div>
    </div>
    <div class= "content-item timepoint"  id="joly-five">
      <div class="timeline-point" section="joly-five" style="border-color: {{model.curr.colour}}"></div>
      <div class="timepoint-heading">
        <span class="date">{{'content.joly.sections.five.date' | translate}}:</span>
        <span class="caption"> {{'content.joly.sections.five.caption' | translate}}</span>
      </div>
      <div class="timeline-event" style="border-color: {{model.curr.colour}}">
        <div class="content">{{'content.joly.sections.five.text' | translate}}</div>
      </div>
    </div>
    <div class= "content-item timepoint"  id="joly-six">
      <div class="timeline-point" section="joly-six" style="border-color: {{model.curr.colour}}"></div>
      <div class="timepoint-heading">
        <span class="date">{{'content.joly.sections.six.date' | translate}}:</span>
        <span class="caption"> {{'content.joly.sections.six.caption' | translate}}</span>
      </div>
      <div class="timeline-event" style="border-color: {{model.curr.colour}}">
        <div class="content">{{'content.joly.sections.six.text' | translate}}</div>
      </div>
    </div>
    <div class= "content-item timepoint"  id="joly-seven">
      <div class="timeline-point" section="joly-seven" style="border-color: {{model.curr.colour}}"></div>
      <div class="timepoint-heading">
        <span class="date">{{'content.joly.sections.seven.date' | translate}}:</span>
        <span class="caption"> {{'content.joly.sections.seven.caption' | translate}}</span>
      </div>
      <div class="timeline-event" style="border-color: {{model.curr.colour}}">
        <div class="content">{{'content.joly.sections.seven.text' | translate}}</div>
      </div>
    </div>
    <div class= "content-item timepoint"  id="joly-eight">
      <div class="timeline-point" section="joly-eight" style="border-color: {{model.curr.colour}}"></div>
      <div class="timepoint-heading">
        <span class="date">{{'content.joly.sections.eight.date' | translate}}:</span>
        <span class="caption"> {{'content.joly.sections.eight.caption' | translate}}</span>
      </div>
      <div class="timeline-event" style="border-color: {{model.curr.colour}}">
        <div class="content">{{'content.joly.sections.eight.text' | translate}}</div>
      </div>
    </div>
    <div class= "content-item timepoint"  id="joly-nine">
      <div class="timeline-point" section="joly-nine" style="border-color: {{model.curr.colour}}"></div>
      <div class="timepoint-heading">
        <span class="date">{{'content.joly.sections.nine.date' | translate}}:</span>
        <span class="caption"> {{'content.joly.sections.nine.caption' | translate}}</span>
      </div>
      <div class="timeline-event" style="border-color: rgba(0,0,0,0)">
        <div class="content">{{'content.joly.sections.nine.text' | translate}}</div>
      </div>
    </div>
  </div>
</div>
