<div class= "actor-details col-md-12" -du-scroll-container data-aos="fade-in"  data-aos-duration="2000">
  <div class="header col-md-10 col-md-offset-1">
    <div class="header-text col-md-9">
      <div class="title">{{'content.mole.title.main' | translate}}</div>
      <div class="subtitle">{{'content.mole.title.sub' | translate}}</div>
    </div>
    <div class="portrait-container col-md-3" style="background: linear-gradient(rgba(176,122,161, 0.4), rgba(176,122,161, 0.4)) ,url({{model.curr.img_src}});"></div>
    <a href="{{model.curr.cf_link}}" target="_blank"><img class="signature" src="{{model.curr.signature}}"></img></a>
  </div>
  <div class="main-content col-md-10 col-md-offset-1">
    <div class= "content-item timepoint"  id="mole-one">
      <div class="timeline-point" section="mole-one" style="border-color: {{model.curr.colour}}"></div>
      <div class="timepoint-heading">
        <span class="date">{{'content.mole.sections.one.date' | translate}}:</span>
        <span class="caption"> {{'content.mole.sections.one.caption' | translate}}</span>
      </div>
      <div class="timeline-event" style="border-color: {{model.curr.colour}}">
        <div class="content">{{'content.mole.sections.one.text' | translate}}</div>
      </div>
    </div>
    <div class= "content-item timepoint"  id="mole-two">
      <div class="timeline-point" section="mole-two" style="border-color: {{model.curr.colour}}"></div>
      <div class="timepoint-heading">
        <span class="date">{{'content.mole.sections.two.date' | translate}}:</span>
        <span class="caption"> {{'content.mole.sections.one.caption' | translate}}</span>
      </div>
      <div class="timeline-event" style="border-color: {{model.curr.colour}}">
        <div class="content">{{'content.mole.sections.two.text' | translate}}</div>
      </div>
    </div>
    <div class= "content-item timepoint"  id="mole-three">
      <div class="timeline-point" section="mole-three" style="border-color: {{model.curr.colour}}"></div>
      <div class="timepoint-heading">
        <span class="date">{{'content.mole.sections.three.date' | translate}}:</span>
        <span class="caption"> {{'content.mole.sections.three.caption' | translate}}</span>
      </div>
      <div class="timeline-event" style="border-color: {{model.curr.colour}}">
        <div class="content">{{'content.mole.sections.three.text' | translate}}</div>
      </div>
    </div>
    <div class= "content-item timepoint"  id="mole-four">
      <div class="timeline-point" section="mole-four" style="border-color: {{model.curr.colour}}"></div>
      <div class="timepoint-heading">
        <span class="date">{{'content.mole.sections.four.date' | translate}}:</span>
        <span class="caption"> {{'content.mole.sections.four.caption' | translate}}</span>
      </div>
      <div class="timeline-event" style="border-color: {{model.curr.colour}}">
        <div class="content">{{'content.mole.sections.four.text' | translate}}</div>
      </div>
    </div>
    <div class= "content-item timepoint"  id="mole-five">
      <div class="timeline-point" section="mole-five" style="border-color: {{model.curr.colour}}"></div>
      <div class="timepoint-heading">
        <span class="date">{{'content.mole.sections.five.date' | translate}}:</span>
        <span class="caption"> {{'content.mole.sections.five.caption' | translate}}</span>
      </div>
      <div class="timeline-event" style="border-color: {{model.curr.colour}}">
        <div class="content">{{'content.mole.sections.five.text' | translate}}</div>
      </div>
    </div>
    <div class= "content-item timepoint"  id="mole-six">
      <div class="timeline-point" section="mole-six" style="border-color: {{model.curr.colour}}"></div>
      <div class="timepoint-heading">
        <span class="date">{{'content.mole.sections.six.date' | translate}}:</span>
        <span class="caption"> {{'content.mole.sections.six.caption' | translate}}</span>
      </div>
      <div class="timeline-event" style="border-color: {{model.curr.colour}}">
        <div class="content">{{'content.mole.sections.six.text' | translate}}</div>
      </div>
    </div>
    <div class= "content-item timepoint"  id="mole-seven">
      <div class="timeline-point" section="mole-seven" style="border-color: {{model.curr.colour}}"></div>
      <div class="timepoint-heading">
        <span class="date">{{'content.mole.sections.seven.date' | translate}}:</span>
        <span class="caption"> {{'content.mole.sections.seven.caption' | translate}}</span>
      </div>
      <div class="timeline-event" style="border-color: {{model.curr.colour}}">
        <div class="content">{{'content.mole.sections.seven.text' | translate}}</div>
      </div>
    </div>
    <div class= "content-item timepoint"  id="mole-eight">
      <div class="timeline-point" section="mole-eight" style="border-color: {{model.curr.colour}}"></div>
      <div class="timepoint-heading">
        <span class="date">{{'content.mole.sections.eight.date' | translate}}:</span>
        <span class="caption"> {{'content.mole.sections.eight.caption' | translate}}</span>
      </div>
      <div class="timeline-event" style="border-color: {{model.curr.colour}}">
        <div class="content">{{'content.mole.sections.eight.text' | translate}}</div>
      </div>
    </div>
    <div class= "content-item timepoint"  id="mole-nine">
      <div class="timeline-point" section="mole-nine" style="border-color: {{model.curr.colour}}"></div>
      <div class="timepoint-heading">
        <span class="date">{{'content.mole.sections.nine.date' | translate}}:</span>
        <span class="caption"> {{'content.mole.sections.nine.caption' | translate}}</span>
      </div>
      <div class="timeline-event" style="border-color: {{model.curr.colour}}">
        <div class="content">{{'content.mole.sections.nine.text' | translate}}</div>
      </div>
    </div>
    <div class= "content-item timepoint"  id="mole-ten">
      <div class="timeline-point" section="mole-ten" style="border-color: {{model.curr.colour}}"></div>
      <div class="timepoint-heading">
        <span class="date">{{'content.mole.sections.ten.date' | translate}}:</span>
        <span class="caption"> {{'content.mole.sections.ten.caption' | translate}}</span>
      </div>
      <div class="timeline-event" style="border-color: {{model.curr.colour}}">
        <div class="content">{{'content.mole.sections.ten.text' | translate}}</div>
      </div>
    </div>
    <div class= "content-item timepoint"  id="mole-eleven">
      <div class="timeline-point" section="mole-eleven" style="border-color: {{model.curr.colour}}"></div>
      <div class="timepoint-heading">
        <span class="date">{{'content.mole.sections.eleven.date' | translate}}:</span>
        <span class="caption"> {{'content.mole.sections.eleven.caption' | translate}}</span>
      </div>
      <div class="timeline-event" style="border-color: {{model.curr.colour}}">
        <div class="content">{{'content.mole.sections.eleven.text' | translate}}</div>
      </div>
    </div>
    <div class= "content-item timepoint"  id="mole-twelve">
      <div class="timeline-point" section="mole-twelve" style="border-color: {{model.curr.colour}}"></div>
      <div class="timepoint-heading">
        <span class="date">{{'content.mole.sections.twelve.date' | translate}}:</span>
        <span class="caption"> {{'content.mole.sections.twelve.caption' | translate}}</span>
      </div>
      <div class="timeline-event" style="border-color: rgba(0,0,0,0)">
        <div class="content">{{'content.mole.sections.twelve.text' | translate}}</div>
      </div>
    </div>
  </div>
</div>
