<div class= "actor-details col-md-12" -du-scroll-container data-aos="fade-in"  data-aos-duration="2000" id="mole-header">
  <div class="header col-md-10 col-md-offset-1">
    <div class="header-text col-md-9">
      <div class="title">{{'content.mole.title.main' | translate}}</div>
      <div class="subtitle">{{'content.mole.title.sub' | translate}}</div>
    </div>
    <div class="portrait-container col-md-3" style="background: linear-gradient(rgba(176,122,161, 0.4), rgba(176,122,161, 0.4)) ,url({{model.curr.img_src}});"></div>
    <a href="{{model.curr.cf_link}}" target="_blank"><img class="signature" src="{{model.curr.signature}}"></img></a>
  </div>
  <div class="main-content col-md-10 col-md-offset-1">
    <div class= "content-item timepoint"  id="mole-naissance">
      <div class="timeline-point" section="mole-naissance" style="border-color: {{model.curr.colour}}"></div>
      <div class="timepoint-heading">
        <span class="date">{{'content.mole.sections.naissance.date' | translate}}</span>
        <span class="caption"> {{'content.mole.sections.naissance.caption' | translate}}</span>
      </div>
      <div class="timeline-event" style="border-color: {{model.curr.colour}}">
        <div class="content">{{'content.mole.sections.naissance.text' | translate}}</div>
      </div>
    </div>
    <div class= "content-item timepoint"  id="mole-pere">
      <div class="timeline-point" section="mole-pere" style="border-color: {{model.curr.colour}}"></div>
      <div class="timepoint-heading">
        <span class="date">{{'content.mole.sections.pere.date' | translate}}</span>
        <span class="caption"> {{'content.mole.sections.pere.caption' | translate}}</span>
      </div>
      <div class="timeline-event" style="border-color: {{model.curr.colour}}">
        <div class="content">{{'content.mole.sections.pere.text' | translate}}</div>
      </div>
    </div>
    <div class= "content-item timepoint"  id="mole-debut">
      <div class="timeline-point" section="mole-debut" style="border-color: {{model.curr.colour}}"></div>
      <div class="timepoint-heading">
        <span class="date">{{'content.mole.sections.debut.date' | translate}}</span>
        <span class="caption"> {{'content.mole.sections.debut.caption' | translate}}</span>
      </div>
      <div class="timeline-event" style="border-color: {{model.curr.colour}}">
        <div class="content">{{'content.mole.sections.debut.text' | translate}}</div>
      </div>
    </div>
    <div class= "content-item timepoint"  id="mole-societariat">
      <div class="timeline-point" section="mole-societariat" style="border-color: {{model.curr.colour}}"></div>
      <div class="timepoint-heading">
        <span class="date">{{'content.mole.sections.societariat.date' | translate}}</span>
        <span class="caption"> {{'content.mole.sections.societariat.caption' | translate}}</span>
      </div>
      <div class="timeline-event" style="border-color: {{model.curr.colour}}">
        <div class="content">{{'content.mole.sections.societariat.text' | translate}}</div>
      </div>
    </div>
    <div class= "content-item timepoint"  id="mole-mariage">
      <div class="timeline-point" section="mole-mariage" style="border-color: {{model.curr.colour}}"></div>
      <div class="timepoint-heading">
        <span class="date">{{'content.mole.sections.mariage.date' | translate}}</span>
        <span class="caption"> {{'content.mole.sections.mariage.caption' | translate}}</span>
      </div>
      <div class="timeline-event" style="border-color: {{model.curr.colour}}">
        <div class="content">{{'content.mole.sections.mariage.text' | translate}}</div>
        <div class="img-content" style="display:block !important">
          <div class="img-wrapper">
            <img src='style/img/mole/mariage.png'>
            <div class="img-caption">{{'content.mole.captions.mariage'| translate}}</div>
          </div>
        </div>
      </div>
    </div>
    <div class= "content-item timepoint"  id="mole-hamlet">
      <div class="timeline-point" section="mole-hamlet" style="border-color: {{model.curr.colour}}"></div>
      <div class="timepoint-heading">
        <span class="date">{{'content.mole.sections.hamlet.date' | translate}}</span>
        <span class="caption"> {{'content.mole.sections.hamlet.caption' | translate}}</span>
      </div>
      <div class="timeline-event" style="border-color: {{model.curr.colour}}">
        <div class="content">{{'content.mole.sections.hamlet.text' | translate}}</div>
        <div class="img-content" style="display:block !important">
          <div class="img-wrapper">
            <img src='style/img/mole/hamlet.png'>
            <div class="img-caption">{{'content.mole.captions.hamlet'| translate}}</div>
          </div>
        </div>
      </div>
    </div>
    <div class= "content-item timepoint"  id="mole-malade">
      <div class="timeline-point" section="mole-malade" style="border-color: {{model.curr.colour}}"></div>
      <div class="timepoint-heading">
        <span class="date">{{'content.mole.sections.malade.date' | translate}}</span>
        <span class="caption"> {{'content.mole.sections.malade.caption' | translate}}</span>
      </div>
      <div class="timeline-event" style="border-color: {{model.curr.colour}}">
        <div class="content">{{'content.mole.sections.malade.text' | translate}}</div>
        <div class="img-content">
          <div class="img-wrapper col-md-6">
            <img ez-plus ezp-model="{large:'style/img/mole/maladie.jpg'}" ezp-options="{scrollZoom: true, easing:true, container:'m-1'}" src='style/img/mole/maladie.jpg' style="height: 45vh">
            <div class="img-caption">{{'content.mole.captions.maladie'| translate}}</div>
          </div>
          <div class="transcription col-md-6 ">
            <i class="fas fa-quote-left" style="color:{{model.curr.colour}}"></i>
            <p></p>
          </div>
        </div>
      </div>
    </div>
    <div class= "content-item timepoint"  id="mole-absence">
      <div class="timeline-point" section="mole-absence" style="border-color: {{model.curr.colour}}"></div>
      <div class="timepoint-heading">
        <span class="date">{{'content.mole.sections.absence.date' | translate}}</span>
        <span class="caption"> {{'content.mole.sections.absence.caption' | translate}}</span>
      </div>
      <div class="timeline-event" style="border-color: {{model.curr.colour}}">
        <div class="content">{{'content.mole.sections.absence.text' | translate}}</div>
        <div class="img-content">
          <div class="transcription col-md-6 ">
            <i class="fas fa-quote-left" style="color:{{model.curr.colour}}"></i>
            <p></p>
          </div>
          <div class="img-wrapper col-md-6">
            <img ez-plus ezp-model="{large:'style/img/mole/absence.jpg'}" ezp-options="{scrollZoom: true, easing:true, container:'m-2'}" src='style/img/mole/absence.jpg' style="height: 45vh">
            <div class="img-caption">{{'content.mole.captions.absence'| translate}}</div>
          </div>
        </div>
        <div class="img-content" style="display:block !important">
          <div class="img-wrapper">
            <img src='style/img/mole/représentations.png'>
            <div class="img-caption">{{'content.mole.captions.représentations'| translate}}</div>
          </div>
        </div>
      </div>
    </div>
    <div class= "content-item timepoint"  id="mole-specialisation">
      <div class="timeline-point" section="mole-specialisation" style="border-color: {{model.curr.colour}}"></div>
      <div class="timepoint-heading">
        <span class="date">{{'content.mole.sections.specialisation.date' | translate}}</span>
        <span class="caption"> {{'content.mole.sections.specialisation.caption' | translate}}</span>
      </div>
      <div class="timeline-event" style="border-color: {{model.curr.colour}}">
        <div class="content">{{'content.mole.sections.specialisation.text' | translate}}</div>
        <div class="img-content" style="display:block !important">
          <div class="img-wrapper">
            <img src='style/img/mole/spécialisation_1.png'>
            <div class="img-caption">{{'content.mole.captions.spécialisation_1'| translate}}</div>
          </div>
        </div>
        <div class="img-content" style="display:block !important">
          <div class="img-wrapper">
            <img src='style/img/mole/spécialisation_2.png'>
            <div class="img-caption">{{'content.mole.captions.spécialisation_2'| translate}}</div>
          </div>
        </div>
      </div>
    </div>
    <div class= "content-item timepoint"  id="mole-eleve">
      <div class="timeline-point" section="mole-eleve" style="border-color: {{model.curr.colour}}"></div>
      <div class="timepoint-heading">
        <span class="date">{{'content.mole.sections.eleve.date' | translate}}</span>
        <span class="caption"> {{'content.mole.sections.eleve.caption' | translate}}</span>
      </div>
      <div class="timeline-event" style="border-color: {{model.curr.colour}}">
        <div class="content">{{'content.mole.sections.eleve.text' | translate}}</div>
        <div class="img-content" style="display:block !important">
          <div class="img-wrapper">
            <div class="carousel" style="width: 50%; margin-left: 24%">
               <slick class="slider carous" settings="slickConfig">
                 <div><img ez-plus ezp-model="{large:'style/img/mole/eleve_1.jpg'}" ezp-options="{scrollZoom: true, easing:true, container:'m-3'}" src='style/img/mole/eleve_1.jpg'></div>
                 <div><img ez-plus ezp-model="{large:'style/img/mole/eleve_2.jpg'}" ezp-options="{scrollZoom: true, easing:true, container:'m-4'}" src='style/img/mole/eleve_2.jpg'></div>
                 <div><img ez-plus ezp-model="{large:'style/img/mole/eleve_3.jpg'}" ezp-options="{scrollZoom: true, easing:true, container:'m-5'}" src='style/img/mole/eleve_3.jpg'></div>
                 <div><img ez-plus ezp-model="{large:'style/img/mole/eleve_4.jpg'}" ezp-options="{scrollZoom: true, easing:true, container:'m-6'}" src='style/img/mole/eleve_4.jpg'></div>
               </slick>
            </div>
            <div class="img-caption">{{'content.mole.captions.eleve'| translate}}</div>
          </div>
          <div class="transcription">
            <i class="fas fa-quote-left" style="color:{{model.curr.colour}}"></i>
            <p></p>
          </div>
        </div>
        <div class="img-content" style="display:block !important">
          <div class="img-wrapper">
            <img src='style/img/mole/candeille.png'>
            <div class="img-caption">{{'content.mole.captions.candeille'| translate}}</div>
          </div>
        </div>
      </div>
    </div>
    <div class= "content-item timepoint"  id="mole-tensions">
      <div class="timeline-point" section="mole-tensions" style="border-color: {{model.curr.colour}}"></div>
      <div class="timepoint-heading">
        <span class="date">{{'content.mole.sections.tensions.date' | translate}}</span>
        <span class="caption"> {{'content.mole.sections.tensions.caption' | translate}}</span>
      </div>
      <div class="timeline-event" style="border-color: {{model.curr.colour}}">
        <div class="content">{{'content.mole.sections.tensions.text' | translate}}</div>
        <div class="img-content" style="display:block !important">
          <div class="img-wrapper">
            <div class="carousel" style="width: 50%; margin-left: 24%">
               <slick class="slider carous" settings="slickConfig">
                 <div><img ez-plus ezp-model="{large:'style/img/mole/tensions_1.jpg'}" ezp-options="{scrollZoom: true, easing:true, container:'m-7'}" src='style/img/mole/tensions_1.jpg'></div>
                 <div><img ez-plus ezp-model="{large:'style/img/mole/tensions_2.jpg'}" ezp-options="{scrollZoom: true, easing:true, container:'m-8'}" src='style/img/mole/tensions_2.jpg'></div>
                 <div><img ez-plus ezp-model="{large:'style/img/mole/tensions_3.jpg'}" ezp-options="{scrollZoom: true, easing:true, container:'m-9'}" src='style/img/mole/tensions_3.jpg'></div>
               </slick>
            </div>
            <div class="img-caption">{{'content.mole.captions.tensions'| translate}}</div>
          </div>
          <div class="transcription">
            <i class="fas fa-quote-left" style="color:{{model.curr.colour}}"></i>
            <p></p>
          </div>
        </div>
      </div>
    </div>
    <div class= "content-item timepoint"  id="mole-regles">
      <div class="timeline-point" section="mole-regles" style="border-color: {{model.curr.colour}}"></div>
      <div class="timepoint-heading">
        <span class="date">{{'content.mole.sections.regles.date' | translate}}</span>
        <span class="caption"> {{'content.mole.sections.regles.caption' | translate}}</span>
      </div>
      <div class="timeline-event" style="border-color: {{model.curr.colour}}">
        <div class="content">{{'content.mole.sections.regles.text' | translate}}</div>
        <div class="img-content">
          <div class="transcription col-md-6 ">
            <i class="fas fa-quote-left" style="color:{{model.curr.colour}}"></i>
            <p></p>
          </div>
          <div class="img-wrapper col-md-6">
            <img ez-plus ezp-model="{large:'style/img/mole/regles.jpg'}" ezp-options="{scrollZoom: true, easing:true, container:'m-10'}" src='style/img/mole/regles.jpg' style="height: 45vh">
            <div class="img-caption">{{'content.mole.captions.regles'| translate}}</div>
          </div>
        </div>
      </div>
    </div>
    <div class= "content-item timepoint"  id="mole-retour">
      <div class="timeline-point" section="mole-retour" style="border-color: {{model.curr.colour}}"></div>
      <div class="timepoint-heading">
        <span class="date">{{'content.mole.sections.retour.date' | translate}}</span>
        <span class="caption"> {{'content.mole.sections.retour.caption' | translate}}</span>
      </div>
      <div class="timeline-event" style="border-color: {{model.curr.colour}}">
        <div class="content">{{'content.mole.sections.retour.text' | translate}}</div>
        <div class="img-content" style="display:block !important">
          <div class="img-wrapper">
            <div class="carousel" style="width: 50%; margin-left: 24%">
               <slick class="slider carous" settings="slickConfig">
                 <div><img ez-plus ezp-model="{large:'style/img/mole/retour_1.jpg'}" ezp-options="{scrollZoom: true, easing:true, container:'m-11'}" src='style/img/mole/retour_1.jpg'></div>
                 <div><img ez-plus ezp-model="{large:'style/img/mole/retour_2.jpg'}" ezp-options="{scrollZoom: true, easing:true, container:'m-12'}" src='style/img/mole/retour_2.jpg'></div>
               </slick>
            </div>
            <div class="img-caption">{{'content.mole.captions.retour'| translate}}</div>
          </div>
          <div class="transcription">
            <i class="fas fa-quote-left" style="color:{{model.curr.colour}}"></i>
            <p></p>
          </div>
        </div>
      </div>
    </div>
    <div class= "content-item timepoint"  id="mole-pension">
      <div class="timeline-point" section="mole-pension" style="border-color: {{model.curr.colour}}"></div>
      <div class="timepoint-heading">
        <span class="date">{{'content.mole.sections.pension.date' | translate}}</span>
        <span class="caption"> {{'content.mole.sections.pension.caption' | translate}}</span>
      </div>
      <div class="timeline-event" style="border-color: {{model.curr.colour}}">
        <div class="content">{{'content.mole.sections.pension.text' | translate}}</div>
        <div class="img-content" style="display:block !important">
          <div class="img-wrapper">
            <div class="carousel" style="width: 50%; margin-left: 24%">
               <slick class="slider carous" settings="slickConfig">
                 <div><img ez-plus ezp-model="{large:'style/img/mole/pension_1.jpg'}" ezp-options="{scrollZoom: true, easing:true, container:'m-13'}" src='style/img/mole/pension_1.jpg'></div>
                 <div><img ez-plus ezp-model="{large:'style/img/mole/pension_2.jpg'}" ezp-options="{scrollZoom: true, easing:true, container:'m-14'}" src='style/img/mole/pension_2.jpg'></div>
                 <div><img ez-plus ezp-model="{large:'style/img/mole/pension_3.jpg'}" ezp-options="{scrollZoom: true, easing:true, container:'m-15'}" src='style/img/mole/pension_3.jpg'></div>
                 <div><img ez-plus ezp-model="{large:'style/img/mole/pension_4.jpg'}" ezp-options="{scrollZoom: true, easing:true, container:'m-16'}" src='style/img/mole/pension_4.jpg'></div>
               </slick>
            </div>
            <div class="img-caption">{{'content.mole.captions.pension'| translate}}</div>
          </div>
          <div class="transcription">
            <i class="fas fa-quote-left" style="color:{{model.curr.colour}}"></i>
            <p></p>
          </div>
        </div>
      </div>
    </div>
    <div class= "content-item timepoint"  id="mole-passeport">
      <div class="timeline-point" section="mole-passeport" style="border-color: {{model.curr.colour}}"></div>
      <div class="timepoint-heading">
        <span class="date">{{'content.mole.sections.passeport.date' | translate}}</span>
        <span class="caption"> {{'content.mole.sections.passeport.caption' | translate}}</span>
      </div>
      <div class="timeline-event" style="border-color: rgba(0,0,0,0)">
        <div class="content">{{'content.mole.sections.passeport.text' | translate}}</div>
        <div class="img-content" style="display:block !important">
          <div class="img-wrapper">
            <div class="carousel" style="width: 50%; margin-left: 24%">
               <slick class="slider carous" settings="slickConfig">
                 <div><img ez-plus ezp-model="{large:'style/img/mole/passeport_1.jpg'}" ezp-options="{scrollZoom: true, easing:true, container:'m-17'}" src='style/img/mole/passeport_1.jpg'></div>
                 <div><img ez-plus ezp-model="{large:'style/img/mole/passeport_2.jpg'}" ezp-options="{scrollZoom: true, easing:true, container:'m-18'}" src='style/img/mole/passeport_2.jpg'></div>
               </slick>
            </div>
            <div class="img-caption">{{'content.mole.captions.passeport'| translate}}</div>
          </div>
          <div class="transcription">
            <i class="fas fa-quote-left" style="color:{{model.curr.colour}}"></i>
            <p></p>
          </div>
        </div>
      </div>
    </div>
    <div class= "content-item timepoint"  id="mole-mort">
      <div class="timeline-point" section="mole-mort" style="border-color: {{model.curr.colour}}"></div>
      <div class="timepoint-heading">
        <span class="date">{{'content.mole.sections.mort.date' | translate}}</span>
        <span class="caption"> {{'content.mole.sections.mort.caption' | translate}}</span>
      </div>
      <div class="timeline-event" style="border-color: rgba(0,0,0,0)">
        <div class="content">{{'content.mole.sections.mort.text' | translate}}</div>
      </div>
    </div>
  </div>
  <div class="scroll-to-top" ng-click="scrollTo('mole-header')">
    <i class="fa fa-arrow-up" style="color:{{model.curr.colour}}"></i>
    <p>{{'top'|translate}}</p>
  </div>
</div>
