<div class= "actor-details col-md-12" -du-scroll-container>
  <div class="header col-md-10 col-md-offset-1">
    <div class="header-text col-md-9">
      <div class="title">{{'content.preville.title.main' | translate}}</div>
      <div class="subtitle">{{'content.preville.title.sub' | translate}}</div>
    </div>
    <div class="portrait-container col-md-3" style="background: linear-gradient(rgba(237,201,72, 0.4), rgba(237,201,72, 0.4)) ,url({{model.curr.img_src}});"></div>
    <a href="{{model.curr.cf_link}}" target="_blank"><img class="signature" src="../style/img/preville/signature.png"></img></a>
  </div>
  <div class="main-content col-md-10 col-md-offset-1">
    <div class= "content-item timepoint"  id="preville-one">
      <div class="timeline-point" section="preville-one" style="border-color: {{model.curr.colour}}"></div>
      <div class="timepoint-heading">
        <span class="date">{{'content.preville.sections.one.date' | translate}}:</span>
        <span class="caption"> {{'content.preville.sections.one.caption' | translate}}</span>
      </div>
      <div class="timeline-event" style="border-color: {{model.curr.colour}}">
        <div class="content">{{'content.preville.sections.one.text' | translate}}</div>
      </div>
    </div>
    <div class= "content-item timepoint"  id="preville-two">
      <div class="timeline-point" section="preville-two" style="border-color: {{model.curr.colour}}"></div>
      <div class="timepoint-heading">
        <span class="date">{{'content.preville.sections.two.date' | translate}}:</span>
        <span class="caption"> {{'content.preville.sections.one.caption' | translate}}</span>
      </div>
      <div class="timeline-event" style="border-color: {{model.curr.colour}}">
        <div class="content">{{'content.preville.sections.two.text' | translate}}</div>
      </div>
    </div>
    <div class= "content-item timepoint"  id="preville-three">
      <div class="timeline-point" section="preville-three" style="border-color: {{model.curr.colour}}"></div>
      <div class="timepoint-heading">
        <span class="date">{{'content.preville.sections.three.date' | translate}}:</span>
        <span class="caption"> {{'content.preville.sections.three.caption' | translate}}</span>
      </div>
      <div class="timeline-event" style="border-color: {{model.curr.colour}}">
        <div class="content">{{'content.preville.sections.three.text' | translate}}</div>
      </div>
    </div>
    <div class= "content-item timepoint"  id="preville-four">
      <div class="timeline-point" section="preville-four" style="border-color: {{model.curr.colour}}"></div>
      <div class="timepoint-heading">
        <span class="date">{{'content.preville.sections.four.date' | translate}}:</span>
        <span class="caption"> {{'content.preville.sections.four.caption' | translate}}</span>
      </div>
      <div class="timeline-event" style="border-color: {{model.curr.colour}}">
        <div class="content">{{'content.preville.sections.four.text' | translate}}</div>
      </div>
    </div>
    <div class= "content-item timepoint"  id="preville-five">
      <div class="timeline-point" section="preville-five" style="border-color: {{model.curr.colour}}"></div>
      <div class="timepoint-heading">
        <span class="date">{{'content.preville.sections.five.date' | translate}}:</span>
        <span class="caption"> {{'content.preville.sections.five.caption' | translate}}</span>
      </div>
      <div class="timeline-event" style="border-color: {{model.curr.colour}}">
        <div class="content">{{'content.preville.sections.five.text' | translate}}</div>
      </div>
    </div>
    <div class= "content-item timepoint"  id="preville-six">
      <div class="timeline-point" section="preville-six" style="border-color: {{model.curr.colour}}"></div>
      <div class="timepoint-heading">
        <span class="date">{{'content.preville.sections.six.date' | translate}}:</span>
        <span class="caption"> {{'content.preville.sections.six.caption' | translate}}</span>
      </div>
      <div class="timeline-event" style="border-color: {{model.curr.colour}}">
        <div class="content">{{'content.preville.sections.six.text' | translate}}</div>
      </div>
    </div>
    <div class= "content-item timepoint"  id="preville-seven">
      <div class="timeline-point" section="preville-seven" style="border-color: {{model.curr.colour}}"></div>
      <div class="timepoint-heading">
        <span class="date">{{'content.preville.sections.seven.date' | translate}}:</span>
        <span class="caption"> {{'content.preville.sections.seven.caption' | translate}}</span>
      </div>
      <div class="timeline-event" style="border-color: {{model.curr.colour}}">
        <div class="content">{{'content.preville.sections.seven.text' | translate}}</div>
      </div>
    </div>
    <div class= "content-item timepoint"  id="preville-eight">
      <div class="timeline-point" section="preville-eight" style="border-color: {{model.curr.colour}}"></div>
      <div class="timepoint-heading">
        <span class="date">{{'content.preville.sections.eight.date' | translate}}:</span>
        <span class="caption"> {{'content.preville.sections.eight.caption' | translate}}</span>
      </div>
      <div class="timeline-event" style="border-color: {{model.curr.colour}}">
        <div class="content">{{'content.preville.sections.eight.text' | translate}}</div>
      </div>
    </div>
    <div class= "content-item timepoint"  id="preville-nine">
      <div class="timeline-point" section="preville-nine" style="border-color: {{model.curr.colour}}"></div>
      <div class="timepoint-heading">
        <span class="date">{{'content.preville.sections.nine.date' | translate}}:</span>
        <span class="caption"> {{'content.preville.sections.nine.caption' | translate}}</span>
      </div>
      <div class="timeline-event" style="border-color: rgba(0,0,0,0)">
        <div class="content">{{'content.preville.sections.nine.text' | translate}}</div>
      </div>
    </div>
  </div>
</div>
