<div class= "actor-details col-md-12" -du-scroll-container data-aos="fade-in"  data-aos-duration="2000">
  <div class="header col-md-10 col-md-offset-1">
    <div class="header-text col-md-9">
      <div class="title">{{'content.vpt.title.main' | translate}}</div>
      <div class="subtitle">{{'content.vpt.title.sub' | translate}}</div>
    </div>
    <div class="portrait-container col-md-3" style="background: linear-gradient(rgba(89,161,79, 0.4), rgba(89,161,79, 0.4)) ,url({{model.curr.img_src}});"></div>
    <a href="{{model.curr.cf_link}}" target="_blank"><img class="signature" src="{{model.curr.signature}}"></img></a>
  </div>
  <div class="main-content col-md-10 col-md-offset-1">
    <div class= "content-item timepoint"  id="vpt-naissance">
      <div class="timeline-point" section="vpt-naissance" style="border-color: {{model.curr.colour}}"></div>
      <div class="timepoint-heading">
        <span class="date">{{'content.vpt.sections.naissance.date' | translate}}</span>
        <span class="caption"> {{'content.vpt.sections.naissance.caption' | translate}}</span>
      </div>
      <div class="timeline-event" style="border-color: {{model.curr.colour}}">
        <div class="content">{{'content.vpt.sections.naissance.text' | translate}}</div>
      </div>
    </div>
    <div class= "content-item timepoint"  id="vpt-enfant">
      <div class="timeline-point" section="vpt-enfant" style="border-color: {{model.curr.colour}}"></div>
      <div class="timepoint-heading">
        <span class="date">{{'content.vpt.sections.enfant.date' | translate}}</span>
        <span class="caption"> {{'content.vpt.sections.enfant.caption' | translate}}</span>
      </div>
      <div class="timeline-event" style="border-color: {{model.curr.colour}}">
        <div class="content">{{'content.vpt.sections.enfant.text' | translate}}</div>
      </div>
    </div>
    <div class= "content-item timepoint"  id="vpt-debut">
      <div class="timeline-point" section="vpt-debut" style="border-color: {{model.curr.colour}}"></div>
      <div class="timepoint-heading">
        <span class="date">{{'content.vpt.sections.debut.date' | translate}}</span>
        <span class="caption"> {{'content.vpt.sections.debut.caption' | translate}}</span>
      </div>
      <div class="timeline-event" style="border-color: {{model.curr.colour}}">
        <div class="content">{{'content.vpt.sections.debut.text' | translate}}</div>
      </div>
    </div>
    <div class= "content-item timepoint"  id="vpt-petit">
      <div class="timeline-point" section="vpt-petit" style="border-color: {{model.curr.colour}}"></div>
      <div class="timepoint-heading">
        <span class="date">{{'content.vpt.sections.petit.date' | translate}}</span>
        <span class="caption"> {{'content.vpt.sections.petit.caption' | translate}}</span>
      </div>
      <div class="timeline-event" style="border-color: {{model.curr.colour}}">
        <div class="content">{{'content.vpt.sections.petit.text' | translate}}</div>
      </div>
    </div>
    <div class= "content-item timepoint"  id="vpt-reception">
      <div class="timeline-point" section="vpt-reception" style="border-color: {{model.curr.colour}}"></div>
      <div class="timepoint-heading">
        <span class="date">{{'content.vpt.sections.reception.date' | translate}}</span>
        <span class="caption"> {{'content.vpt.sections.reception.caption' | translate}}</span>
      </div>
      <div class="timeline-event" style="border-color: {{model.curr.colour}}">
        <div class="content">{{'content.vpt.sections.reception.text' | translate}}</div>
      </div>
    </div>
    <div class= "content-item timepoint"  id="vpt-olivier">
      <div class="timeline-point" section="vpt-olivier" style="border-color: {{model.curr.colour}}"></div>
      <div class="timepoint-heading">
        <span class="date">{{'content.vpt.sections.olivier.date' | translate}}</span>
        <span class="caption"> {{'content.vpt.sections.olivier.caption' | translate}}</span>
      </div>
      <div class="timeline-event" style="border-color: {{model.curr.colour}}">
        <div class="content">{{'content.vpt.sections.olivier.text' | translate}}</div>
      </div>
    </div>
    <div class= "content-item timepoint"  id="vpt-fleury">
      <div class="timeline-point" section="vpt-fleury" style="border-color: {{model.curr.colour}}"></div>
      <div class="timepoint-heading">
        <span class="date">{{'content.vpt.sections.fleury.date' | translate}}</span>
        <span class="caption"> {{'content.vpt.sections.fleury.caption' | translate}}</span>
      </div>
      <div class="timeline-event" style="border-color: {{model.curr.colour}}">
        <div class="content">{{'content.vpt.sections.fleury.text' | translate}}</div>
      </div>
    </div>
    <div class= "content-item timepoint"  id="vpt-talma">
      <div class="timeline-point" section="vpt-talma" style="border-color: {{model.curr.colour}}"></div>
      <div class="timepoint-heading">
        <span class="date">{{'content.vpt.sections.talma.date' | translate}}</span>
        <span class="caption"> {{'content.vpt.sections.talma.caption' | translate}}</span>
      </div>
      <div class="timeline-event" style="border-color: {{model.curr.colour}}">
        <div class="content">{{'content.vpt.sections.talma.text' | translate}}</div>
      </div>
    </div>
    <div class= "content-item timepoint"  id="vpt-retraite">
      <div class="timeline-point" section="vpt-retraite" style="border-color: {{model.curr.colour}}"></div>
      <div class="timepoint-heading">
        <span class="date">{{'content.vpt.sections.retraite.date' | translate}}</span>
        <span class="caption"> {{'content.vpt.sections.retraite.caption' | translate}}</span>
      </div>
      <div class="timeline-event" style="border-color: {{model.curr.colour}}">
        <div class="content">{{'content.vpt.sections.retraite.text' | translate}}</div>
      </div>
    </div>
    <div class= "content-item timepoint"  id="vpt-comte">
      <div class="timeline-point" section="vpt-comte" style="border-color: {{model.curr.colour}}"></div>
      <div class="timepoint-heading">
        <span class="date">{{'content.vpt.sections.comte.date' | translate}}</span>
        <span class="caption"> {{'content.vpt.sections.comte.caption' | translate}}</span>
      </div>
      <div class="timeline-event" style="border-color: {{model.curr.colour}}">
        <div class="content">{{'content.vpt.sections.comte.text' | translate}}</div>
      </div>
    </div>
    <div class= "content-item timepoint"  id="vpt-ten">
      <div class="timeline-point" section="vpt-mort" style="border-color: {{model.curr.colour}}"></div>
      <div class="timepoint-heading">
        <span class="date">{{'content.vpt.sections.mort.date' | translate}}</span>
        <span class="caption"> {{'content.vpt.sections.mort.caption' | translate}}</span>
      </div>
      <div class="timeline-event" style="border-color: rgba(0,0,0,0)">
        <div class="content">{{'content.vpt.sections.mort.text' | translate}}</div>
      </div>
    </div>
  </div>
</div>
