<div class= "actor-details col-md-12" -du-scroll-container data-aos="fade-in"  data-aos-duration="2000">
  <div class="header col-md-10 col-md-offset-1">
    <div class="header-text col-md-9">
      <div class="title">{{'content.vpt.title.main' | translate}}</div>
      <div class="subtitle">{{'content.vpt.title.sub' | translate}}</div>
    </div>
    <div class="portrait-container col-md-3" style="background: linear-gradient(rgba(89,161,79, 0.4), rgba(89,161,79, 0.4)) ,url({{model.curr.img_src}});"></div>
    <a href="{{model.curr.cf_link}}" target="_blank"><img class="signature" src="{{model.curr.signature}}"></img></a>
  </div>
  <div class="main-content col-md-10 col-md-offset-1">
    <div class= "content-item timepoint"  id="vpt-one">
      <div class="timeline-point" section="vpt-one" style="border-color: {{model.curr.colour}}"></div>
      <div class="timepoint-heading">
        <span class="date">{{'content.vpt.sections.one.date' | translate}}</span>
        <span class="caption"> {{'content.vpt.sections.one.caption' | translate}}</span>
      </div>
      <div class="timeline-event" style="border-color: {{model.curr.colour}}">
        <div class="content">{{'content.vpt.sections.one.text' | translate}}</div>
      </div>
    </div>
    <div class= "content-item timepoint"  id="vpt-two">
      <div class="timeline-point" section="vpt-two" style="border-color: {{model.curr.colour}}"></div>
      <div class="timepoint-heading">
        <span class="date">{{'content.vpt.sections.two.date' | translate}}</span>
        <span class="caption"> {{'content.vpt.sections.one.caption' | translate}}</span>
      </div>
      <div class="timeline-event" style="border-color: {{model.curr.colour}}">
        <div class="content">{{'content.vpt.sections.two.text' | translate}}</div>
      </div>
    </div>
    <div class= "content-item timepoint"  id="vpt-three">
      <div class="timeline-point" section="vpt-three" style="border-color: {{model.curr.colour}}"></div>
      <div class="timepoint-heading">
        <span class="date">{{'content.vpt.sections.three.date' | translate}}</span>
        <span class="caption"> {{'content.vpt.sections.three.caption' | translate}}</span>
      </div>
      <div class="timeline-event" style="border-color: {{model.curr.colour}}">
        <div class="content">{{'content.vpt.sections.three.text' | translate}}</div>
      </div>
    </div>
    <div class= "content-item timepoint"  id="vpt-four">
      <div class="timeline-point" section="vpt-four" style="border-color: {{model.curr.colour}}"></div>
      <div class="timepoint-heading">
        <span class="date">{{'content.vpt.sections.four.date' | translate}}</span>
        <span class="caption"> {{'content.vpt.sections.four.caption' | translate}}</span>
      </div>
      <div class="timeline-event" style="border-color: {{model.curr.colour}}">
        <div class="content">{{'content.vpt.sections.four.text' | translate}}</div>
      </div>
    </div>
    <div class= "content-item timepoint"  id="vpt-five">
      <div class="timeline-point" section="vpt-five" style="border-color: {{model.curr.colour}}"></div>
      <div class="timepoint-heading">
        <span class="date">{{'content.vpt.sections.five.date' | translate}}</span>
        <span class="caption"> {{'content.vpt.sections.five.caption' | translate}}</span>
      </div>
      <div class="timeline-event" style="border-color: {{model.curr.colour}}">
        <div class="content">{{'content.vpt.sections.five.text' | translate}}</div>
      </div>
    </div>
    <div class= "content-item timepoint"  id="vpt-six">
      <div class="timeline-point" section="vpt-six" style="border-color: {{model.curr.colour}}"></div>
      <div class="timepoint-heading">
        <span class="date">{{'content.vpt.sections.six.date' | translate}}</span>
        <span class="caption"> {{'content.vpt.sections.six.caption' | translate}}</span>
      </div>
      <div class="timeline-event" style="border-color: {{model.curr.colour}}">
        <div class="content">{{'content.vpt.sections.six.text' | translate}}</div>
      </div>
    </div>
    <div class= "content-item timepoint"  id="vpt-seven">
      <div class="timeline-point" section="vpt-seven" style="border-color: {{model.curr.colour}}"></div>
      <div class="timepoint-heading">
        <span class="date">{{'content.vpt.sections.seven.date' | translate}}</span>
        <span class="caption"> {{'content.vpt.sections.seven.caption' | translate}}</span>
      </div>
      <div class="timeline-event" style="border-color: {{model.curr.colour}}">
        <div class="content">{{'content.vpt.sections.seven.text' | translate}}</div>
      </div>
    </div>
    <div class= "content-item timepoint"  id="vpt-eight">
      <div class="timeline-point" section="vpt-eight" style="border-color: {{model.curr.colour}}"></div>
      <div class="timepoint-heading">
        <span class="date">{{'content.vpt.sections.eight.date' | translate}}</span>
        <span class="caption"> {{'content.vpt.sections.eight.caption' | translate}}</span>
      </div>
      <div class="timeline-event" style="border-color: {{model.curr.colour}}">
        <div class="content">{{'content.vpt.sections.eight.text' | translate}}</div>
      </div>
    </div>
    <div class= "content-item timepoint"  id="vpt-nine">
      <div class="timeline-point" section="vpt-nine" style="border-color: {{model.curr.colour}}"></div>
      <div class="timepoint-heading">
        <span class="date">{{'content.vpt.sections.nine.date' | translate}}</span>
        <span class="caption"> {{'content.vpt.sections.nine.caption' | translate}}</span>
      </div>
      <div class="timeline-event" style="border-color: {{model.curr.colour}}">
        <div class="content">{{'content.vpt.sections.nine.text' | translate}}</div>
      </div>
    </div>
    <div class= "content-item timepoint"  id="vpt-ten">
      <div class="timeline-point" section="vpt-ten" style="border-color: {{model.curr.colour}}"></div>
      <div class="timepoint-heading">
        <span class="date">{{'content.vpt.sections.ten.date' | translate}}</span>
        <span class="caption"> {{'content.vpt.sections.ten.caption' | translate}}</span>
      </div>
      <div class="timeline-event" style="border-color: rgba(0,0,0,0)">
        <div class="content">{{'content.vpt.sections.ten.text' | translate}}</div>
      </div>
    </div>
  </div>
</div>
